<template>
  <div>
       <div class="col-md-7 p-0">
        <div class="card-body text-center">
            <img src="assets/WEB/ICON/ICON WEB59.svg" class="w-50" alt="">
            <br>
            <b>Hallo, Lidya!</b>
            <br>
            <p class="f-10">Seluruh keluhan yang kamu laporkan akan tampil di sini</p>
        </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>