<template>
  <div>
   <div class="card-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b class="panel-title d-flex f-11" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">Kotak Masuk</b>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="panel-body">
                                <ul class="panel-sidebar f-10">
                                    <li><a href="" class="d-flex">Chat</a></li>
                                    <li><a href="" class="d-flex">Diskusi Produk</a></li>
                                    <li><a href="" class="d-flex">Ulasan</a></li>
                                    <li><a href="" class="d-flex">Pesan Bantuan</a></li>
                                    <li><a href="" class="d-flex">Pesanan Dikomplain</a></li>
                                    <li><a href="" class="d-flex">Update</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>