<template>
  <div>
     <div class="row m-0">
            <div class="col-md-5 border-right p-0">
                <div class="p-3 border-bottom">
                    <div class="d-flex justify-content-between">
                        <h5 class="fw-bold m-0">Pesan Bantuan</h5>
                        <div class="dropdown">
                            <a class="dropdown-toggle f-10" data-mdb-toggle="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Lihat Semua
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Lihat Semua</a>
                                <a class="dropdown-item" href="#">Dalam Proses</a>
                                <a class="dropdown-item" href="#">Ditutup</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body h-300 d-flex justify-content-center align-content-center flex-wrap">
                    <p class="f-10">Belum ada tiket pelaporan</p>
                </div>
            </div>
            <div class="col-md-7 p-0">
                <div class="card-body text-center">
                    <img src="assets/WEB/ICON/ICON WEB59.svg" class="w-50" alt="">
                    <br>
                    <b>Hallo, Lidya!</b>
                    <br>
                    <p class="f-10">Seluruh keluhan yang kamu laporkan akan tampil di sini</p>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>