<template>
<div>
<div class="card-body">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b class="panel-title d-flex f-11" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="true"
                        aria-controls="collapseThree">Profil Saya</b>
                </div>

                <div id="collapseThree" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="panel-body">
                        <ul class="panel-sidebar f-10">
                            <li><a href="" class="d-flex">Wishlist</a></li>
                            <li><a href="" class="d-flex">Toko Favorit</a></li>
                            <li><a href="" class="d-flex">Pengaturan</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>