<template>
  <div>
       <div class="top-profile-card card-body">
            <div class="d-flex">
                <div>
                    <img src="assets/WEB/ICON/ICON WEB131.svg" class="w-35 rounded-full" alt="">
                </div>
                <div class="ml-2 d-flex flex-column">
                    <span class="text-dark font-weight-bold f-9">Rani</span>
                    <span class="fc-text f-9 w-max">Verified Account</span>
                </div>
            </div>
        </div>
            <div class="profile-card-seperator"></div>
                        <div class="bottom-profile-card card-body">
                    <div class="row ovo f-10">
                        <div class="col-12">
                            <h6 class="fw-bold f-11"><img src="assets/WEB/ICON/ICON WEB43.svg"
                                    class="w-30 mr-2" alt=""> OVO</h6>
                        </div>
                        <div class="col-12">
                            <a href="" class="d-flex justify-content-between">
                                <div>OVO cash</div>
                                <div>Rp. 5000</div>
                            </a>
                            <a href="" class="d-flex justify-content-between">
                                <div>OVO points</div>
                                <div>Rp. 90000</div>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-4 f-10 ">
                        <div class="col-12">
                            <h6 class="fw-bold f-11"><img src="assets/WEB/ICON/ICON WEB55.svg"
                                    class="w-30 mr-2" alt=""> Saldo</h6>
                        </div>
                        <div class="col-12">
                            <a href="" class="d-flex justify-content-between">
                                <div>Sisa saldo</div>
                                <div>Rp. 0</div>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-4 f-10">
                        <div class="col-12">
                            <h6 class="fw-bold f-11"><img src="assets/WEB/ICON/ICON WEB36.svg"
                                    class="w-30 mr-2" alt=""> Member Silver</h6>
                        </div>
                        <div class="col-12">
                            <a href="" class="d-flex justify-content-between">
                                <div>Toko Member</div>
                                <div>0</div>
                            </a>
                            <a href="" class="d-flex justify-content-between">
                                <div>Top Quest</div>
                                <div>9</div>
                            </a>
                            <a href="" class="d-flex justify-content-between">
                                <div>Kupon Saya</div>
                                <div>10</div>
                            </a>
                        </div>
                    </div>
                </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>