<template>
  <div>
       <div class="card-body">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b class="panel-title d-flex f-11" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">Pembelian</b>
                    </div>

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordion">
                        <div class="panel-body">
                            <ul class="panel-sidebar f-10">
                                <li><a href="" class="d-flex">Menunggu Pembayaran</a></li>
                                <li><a href="" class="d-flex">Daftar Transaksi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>