<template>
 <div>
        <div class="col-md-3">
            <div class="card border-0 ">
                <div class="shadows rounded-10">
                    <div class="top-profile-card card-body">
                        <div class="d-flex">
                            <div>
                                <img src="assets/WEB/ICON/ICON WEB131.svg" class="w-35 rounded-full" alt="">
                            </div>
                            <div class="ml-2 d-flex flex-column">
                                <span class="text-dark font-weight-bold f-9">Rani</span>
                                <span class="fc-text f-9 w-max">Verified Account</span>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card-seperator"></div>
                    <div class="bottom-profile-card card-body">
                        <div class="row ovo f-10">
                            <div class="col-12">
                                <h6 class="fw-bold f-11"><img src="assets/WEB/ICON/ICON WEB43.svg"
                                        class="w-30 mr-2" alt=""> OVO</h6>
                            </div>
                            <div class="col-12">
                                <a href="" class="d-flex justify-content-between">
                                    <div>OVO cash</div>
                                    <div>Rp. 5000</div>
                                </a>
                                <a href="" class="d-flex justify-content-between">
                                    <div>OVO points</div>
                                    <div>Rp. 90000</div>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-4 f-10 ">
                            <div class="col-12">
                                <h6 class="fw-bold f-11"><img src="assets/WEB/ICON/ICON WEB55.svg"
                                        class="w-30 mr-2" alt=""> Saldo</h6>
                            </div>
                            <div class="col-12">
                                <a href="" class="d-flex justify-content-between">
                                    <div>Sisa saldo</div>
                                    <div>Rp. 0</div>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-4 f-10">
                            <div class="col-12">
                                <h6 class="fw-bold f-11"><img src="assets/WEB/ICON/ICON WEB36.svg"
                                        class="w-30 mr-2" alt=""> Member Silver</h6>
                            </div>
                            <div class="col-12">
                                <a href="" class="d-flex justify-content-between">
                                    <div>Toko Member</div>
                                    <div>0</div>
                                </a>
                                <a href="" class="d-flex justify-content-between">
                                    <div>Top Quest</div>
                                    <div>9</div>
                                </a>
                                <a href="" class="d-flex justify-content-between">
                                    <div>Kupon Saya</div>
                                    <div>10</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card-seperator"></div>
                    <div class="card-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b class="panel-title d-flex f-11" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">Kotak Masuk</b>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul class="panel-sidebar f-10">
                                            <li><a href="" class="d-flex">Chat</a></li>
                                            <li><a href="" class="d-flex">Diskusi Produk</a></li>
                                            <li><a href="" class="d-flex">Ulasan</a></li>
                                            <li><a href="" class="d-flex">Pesan Bantuan</a></li>
                                            <li><a href="" class="d-flex">Pesanan Dikomplain</a></li>
                                            <li><a href="" class="d-flex">Update</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card-seperator"></div>
                    <div class="card-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b class="panel-title d-flex f-11" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="true"
                                        aria-controls="collapseTwo">Pembelian</b>
                                </div>

                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul class="panel-sidebar f-10">
                                            <li><a href="" class="d-flex">Menunggu Pembayaran</a></li>
                                            <li><a href="" class="d-flex">Daftar Transaksi</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card-seperator"></div>
                    <div class="card-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <b class="panel-title d-flex f-11" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree">Profil Saya</b>
                                </div>

                                <div id="collapseThree" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="panel-body">
                                        <ul class="panel-sidebar f-10">
                                            <li><a href="" class="d-flex">Wishlist</a></li>
                                            <li><a href="" class="d-flex">Toko Favorit</a></li>
                                            <li><a href="" class="d-flex">Pengaturan</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
</template>

<script>
export default {

}
</script>

<style>

</style>