<template>
  <div>
    <header-component />
    <div class="container-fluid">
    </div>
     <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <chart-component />
                    <div class="bl-5"></div>
                    <carosel-component />
                    <div class="bl-5"></div>
                     <history-produk-component />
                </div>
                <div class="col-md-4">
                    <div class="card border-0">
                        <div class="shadows">
                           <promo-produk-component />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer-component />
  </div>
</template>

<script>
import store from "../../store";
import * as actions from "../../store/action-types";
import Header from "../includes/Header.vue";
import Footer from "../includes/Footer";
import Chart from "../chart/Chart";
import CaroselProduk from "../chart/Carosel-Produk";
import HistoryProduk from "../chart/History-Produk";
import PromoProduk from "../chart/Promo-Produk";


export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "chart-component": Chart,
    "carosel-component": CaroselProduk,
    "history-produk-component": HistoryProduk,
    "promo-produk-component": PromoProduk,
  },
  mounted() {
     store.dispatch({
      type: actions.HISTORY_PRODUCTS_CHART,
      param: `page=1&limit=6&sortBy=desc`,
    });
    console.log("Component mounted.");
  },
};
</script>
