<template>
    <div>
    <header-component/>
    <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <direct-buy-component/>
                    <item-component/>
                    <shipping-payment-component/>
                </div>
                <summary-payment/>
            </div>  
        </div>
    </section>
    <footer-component/>
    </div>
</template>

<script>
import Footer from '../includes/Footer.vue'
import Header from '../includes/Header.vue'
import DirectBuy from '../checkout/Direct-Buy.vue'
import ItemCheckout from '../checkout/Item-Checkout.vue'
import ShippingPayment from '../checkout/Shipping-Payment.vue'
import SummaryPayment from '../checkout/Summary-Payment.vue'

export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "direct-buy-component": DirectBuy,
    "item-component": ItemCheckout,
    "shipping-payment-component": ShippingPayment,
    SummaryPayment,
  },
  mounted() {
      console.log("Component mounted.");
  },
}
</script>

        
<style>

</style>