<template>
    <div>
    <header-component/>
    <section class="main-section">
            <div class="container">
                <div class="row">
                    <side-member-component/>
                    <discussion-component/>
                </div>
            </div>
        </section>
    <footer-component/>
    </div>
</template>

<script>
import Footer from '../includes/Footer.vue'
import Header from '../includes/Header.vue'
import SideMember from '../member/Side-Member.vue'
import Discussion from '../discussion/Discussion.vue'

export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "side-member-component": SideMember,
    "discussion-component": Discussion,
  },
  mounted() {
      console.log("Component mounted.");
  },
}
</script>

        
<style>

</style>