<template>
  <div>
    <header-component />
    <div class="container-fluid">
      <slider-component />
      <category-component />
      <best-seller-product />
      <trending-product /> 
      <searching-category />
      <banner-store />
      <cod-product />
      <option-product />
      <slider-category />
      <more-product />
      <tab-menu />
      <faq-static />
    </div>
    <footer-component />
  </div>
</template>

<script>
import store from "../../store";
import * as actions from "../../store/action-types";
import Header from "../includes/Header";
import Footer from "../includes/Footer";
import Slider from "../home/Slider";
import Category from "../categories/Category";
import BestSellerProduct from "../products/Best-Seller-Product";
import TrendingProduct from "../products/Trending-Product";
import SearchingCategory from "../categories/Searching-Category";
import BannerStore from "../stores/Banner";
import CodProduct from "../products/Cod-Product";
import OptionProduct from "../products/Option-Product";
import SliderCategory from "../categories/Slider-Category";
import MoreProduct from "../products/More-Product";
import TabMenu from "../menu/Tab-Menu";
import FaqStatic from "../includes/Faq-Static";

export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "slider-component": Slider,
    "category-component": Category,
    "best-seller-product": BestSellerProduct,
    "trending-product":TrendingProduct,
    "searching-category": SearchingCategory,
    "banner-store": BannerStore,
    "cod-product": CodProduct,
    "option-product": OptionProduct,
    "slider-category": SliderCategory,
    "more-product": MoreProduct,
    "tab-menu": TabMenu,
    "faq-static": FaqStatic,
  },
  mounted() {
    store.dispatch({
      type: actions.REKOMENDASI_LIST,
      param: `page=1&limit=6&sortBy=desc`,
    });
    store.dispatch({
      type: actions.BEST_SELLER_LIST,
      param: `page=1&limit=6&sortBy=desc`,
    });
    store.dispatch({
      type: actions.OPTION_PRODUCT,
      param: `page=1&limit=6&sortBy=desc`,
    });
    store.dispatch({
      type: actions.MORE_PRODUCTS_LIST,
      param: `page=1&limit=12&sortBy=desc`,
    });
    store.dispatch({
      type: actions.TRENDING_PRODUCT,
      param: `page=1&limit=8&sortBy=desc`,
    });
    store.dispatch({
      type: actions.CATEGORY,
      param: `page=1&limit=12&sortBy=desc`,
    });
    store.dispatch({
      type: actions.SLIDER,
      param: `page=1&limit=10&sortBy=desc&type=1`,
    });
      store.dispatch({
      type: actions.CATEGORY_HEADER,
      param: `page=1&limit=7&sortBy=desc`,
    });
      store.dispatch({
      type: actions.CATEGORY_PREFERRED,
      param: `page=1&limit=4&sortBy=desc`,
    });
      store.dispatch({
      type: actions.CATEGORY_MENU,
      param: `page=1&limit=20&sortBy=desc`,
    });
      store.dispatch({
      type: actions.CATEGORY_SILDER,
      param: `page=1&limit=6&sortBy=desc`,
    });
  },
};
</script>
