<template>
    <div>
        <header-component />
        <section class="main-section">
            <div class="container">
                <div class="row">
                    <side-member-component />
                    <div class="col-md-9">
                        <info-transaction-component />
                        <div class="card mt-2">
                            <div class="card-body p-3">
                                <filter-transaction-component />
                                <list-product-component />
                                <pagination-component />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-component />
    </div>
</template>

<script>
    import store from "../../store";
    import * as actions from "../../store/action-types";
    import Footer from '../includes/Footer.vue'
    import Header from '../includes/Header.vue'
    import InfoTransaction from '../transaction/Info-Transaction.vue'
    import FilterTransaction from '../transaction/Filter-Transaction'
    import ListProduct from '../transaction/List-Product.vue'
    import Pagination from '../includes/Pagination'
    import SideMember from '../member/Side-Member.vue'

    export default {
        components: {
            "header-component": Header,
            "footer-component": Footer,
            "info-transaction-component": InfoTransaction,
            "filter-transaction-component": FilterTransaction,
            "list-product-component": ListProduct,
            "pagination-component": Pagination,
            "side-member-component": SideMember,
        },
        mounted() {
            console.log("Component mounted.");
            store.dispatch({
                type: actions.ORDER_LIST,
                param: `page=1&limit=6&sortBy=desc`,
            });
        },
    }

</script>


<style>

</style>
