<template>
    <login-component/>
</template>

<script>
import Login from '../login/Login.vue'

export default {
  components: {
    "login-component": Login,
  },
  mounted() {
      console.log("Component mounted.");
  },
}
</script>

        
<style>

</style>