<template>
  <div>
    <header-component />
    <div class="container-fluid">
    </div>
          <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card border-0 ">
                        <div class="shadows rounded-10">
                           <order-sevices-component />
                           <!-- Verivaited accont -->

                            <div class="profile-card-seperator"></div>
                            <!-- Inbox -->
                            <inbox-component />
                           
                            <div class="profile-card-seperator"></div>
                         <!-- Order/Pembelian -->
                        <order-component />
                        
                            <div class="profile-card-seperator"></div>
                            <!-- MyProfile / Profile saya -->
                            <myprofile-component />
                        </div>
                    </div>
                
                </div>
                <div class="col-md-9">
                    <div class="shadows">
                        <div class="card overflow-hidden">
                           <!--Info services / Layanan  -->
                            <info-order-component />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer-component />
  </div>
</template>

<script>
import Header from "../includes/Header.vue";
import Footer from "../includes/Footer";
import OrderService from "../order-coustemer/Order-Service-Info";
import Inbox from "../order-coustemer/Inbox";
import Order from "../order-coustemer/Order";
import MyProfile from "../order-coustemer/MyProfile.vue";
import InfoOrder from "../order-coustemer/Info-Servise.vue";


export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "order-sevices-component": OrderService,
    "inbox-component": Inbox,
    "order-component": Order,
    "myprofile-component": MyProfile,
    "info-order-component": InfoOrder,
  },
  mounted() {
    console.log("Component mounted.");
  },
};
</script>
