<template>
    <div>
        <header-component/>
        <section class="main-section">
            <div class="container">
                <path-product-detail-component/>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">    
                            <image-product-component/>
                            <div class="col-md-7" id="tab_info_produk">
                                <title-product-component/>
                                <info-product-component/>
                            </div>
                        </div>
                        <div class="row mt-3" id="tab_ulasan">
                            <div class="col-md-12">
                                <star-product-review-component/>
                                <list-photo-product-review-component/>
                                <best-product-review-component/>
                                <filter-product-review-component/>
                                <all-product-review-component/>
                            </div>
                        </div>  

                        <div class="row">
                            <discuss-product-component/>
                        </div>
                    </div>
                    <summary-product-detail-component/>  
                </div>
                <!-- Lainnya -->
                <div id="tab_rekomendasi">
                    <div class="mt-4 d-flex justify-content-between">
                        <b>Lainnya di toko ini</b>
                    </div>
                <another-product-component/>
                <related-product-component/>
                <fashion-product-component/>
            </div>
        </div>
    </section>                 
    <footer-component/>
</div>
</template>

<script>
import store from "../../store";
import * as actions from "../../store/action-types";
import Footer from '../includes/Footer.vue'
import Header from '../includes/Header.vue'
import PathProductDetail from '../product-detail/Path-Product-Detail.vue'
import ChatMember from '../member/Chat-Member.vue'
import ImageProduct from '../product-detail/Image-Product.vue'
import TitleProduct from '../product-detail/Title-Product.vue'
import InfoProduct from '../product-detail/Info-Product.vue'
import StarProductReview from '../product-detail/Star-Product-Review.vue'
import ListPhotoProductReview from '../product-detail/List-Photo-Product-Review.vue'
import BestProductReview from '../product-detail/Best-Product-Review.vue'
import FilterProductReview from '../product-detail/Filter-Pruduct-Review.vue'
import AllProductReview from '../product-detail/All-Product-Review.vue'
// import Pagination from '../includes/pagination'
import SummaryProductDetail from '../product-detail/Summary-Product-Detail.vue'
import DiscussProduct from '../product-detail/Discuss-Product.vue'
import AnotherProduct from '../product-detail/Another-Product.vue'
import RelatedProduct from '../product-detail/Related-Product.vue'
import FashionProduct from '../product-detail/Fashion-Product.vue'


export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "path-product-detail-component": PathProductDetail,
    "chat-member-component": ChatMember,
    "image-product-component": ImageProduct,
    "title-product-component": TitleProduct,
    "info-product-component": InfoProduct,
    "star-product-review-component": StarProductReview,
    "list-photo-product-review-component": ListPhotoProductReview,
    "best-product-review-component": BestProductReview,
    "filter-product-review-component": FilterProductReview,
    "all-product-review-component": AllProductReview,
    "summary-product-detail-component": SummaryProductDetail,
    // "pagination-component": Pagination,
    "discuss-product-component": DiscussProduct,
    "another-product-component": AnotherProduct,
    "related-product-component": RelatedProduct,
    "fashion-product-component": FashionProduct,
  },
  mounted() {
    window.scrollTo(0,0);
    store.dispatch({
      type: actions.ANOTHER_PRODUCT_LIST,
      param: `page=1&limit=6&sortBy=desc`,
    });
    store.dispatch({
      type: actions.RELATED_PRODUCT_LIST,
      param: `page=2&limit=6&sortBy=desc`,
    });
    store.dispatch({
      type: actions.REVIEW_PRODUCT_LIST,
      param: `page=1&limit=6&sortBy=desc`,
    });
    store.dispatch({
      type: actions.DISCUSS_PRODUCT_LIST,
      param: `page=1&limit=6&sortBy=desc`,
    });
    store.dispatch({
      type: actions.BEST_REVIEW_PRODUCT,
      param: `page=1&limit=1&sortBy=desc`,
    });
    store.dispatch({
      type: actions.GET_ONE_PRODUCT,
      param: `page=1&limit=1&sortBy=desc`,
    });
  },
}
</script>

        
<style>

</style>