<template>
  <div>
    <header-component />
    <div class="container-fluid">
    </div>
          <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card border-0 ">
                        <div class="shadows rounded-10">
                           <order-sevices-component />
                           <!-- Verivaited accont -->
                            <div class="profile-card-seperator"></div>
                            <!-- Inbox -->
                            <inbox-component />
                           
                            <div class="profile-card-seperator"></div>
                         <!-- Order/Pembelian -->
                            <order-component />
                        
                            <div class="profile-card-seperator"></div>
                            <!-- MyProfile / Profile saya -->
                            <myprofile-component />
                        </div>
                    </div>               
                </div>
                  <div class="col-md-9 mt-2">
                    <div class="d-flex">
                        <img src="assets/WEB/ICON/ICON WEB67.svg" class="w-30" alt="">
                        <b class="fc-text ml-2">LIDYA</b>
                    </div>
                    <div class="card mt-2">
                        <div class="tabbable">
                            <!-- Tabs navs -->
                            <ul class="nav nav-tabs nav-fill mb-3" id="tab-scroll" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="tab-bio" data-mdb-toggle="tab" href="#tab-bio-content"
                                        role="tab">Biodata Diri</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab-alamat" data-mdb-toggle="tab" href="#tab-alamat-content"
                                        role="tab">Daftar Alamat</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab-pembayaran" data-mdb-toggle="tab"
                                        href="#tab-pembayaran-content" role="tab">Pembayaran</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab-bank" data-mdb-toggle="tab" href="#tab-bank-content"
                                        role="tab">Rekening Bank</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab-notifikasi" data-mdb-toggle="tab"
                                        href="#tab-notifikasi-content" role="tab">Notifikasi</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab-keamanan" data-mdb-toggle="tab" href="#tab-keamanan-content"
                                        role="tab">Keamanan</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab-google" data-mdb-toggle="tab" href="#tab-google-content"
                                        role="tab">Google Authenticator</a>
                                </li>
                            </ul>
                            <!-- Tabs navs -->
                        </div>

                        <!-- Tabs content -->
                        <div class="tab-content" id="ex1-content">
                            <div class="tab-pane fade show active" id="tab-bio-content" role="tabpanel">
                             
                                <!-- Biodata -->
                                <biodata-component />

                            </div>
                            <div class="tab-pane fade" id="tab-alamat-content" role="tabpanel">
                               
                               <!-- Alamat -->
                               <listAdress-component />
                            </div>
                            <div class="tab-pane fade" id="tab-pembayaran-content" role="tabpanel">
                              
                              <!-- Pembayaran -->
                            <payer-component />
                            </div>
                            <div class="tab-pane fade" id="tab-bank-content" role="tabpanel">
                               
                               <!-- Account Bank -->
                               <account-bank-component/>

                            </div>
                            <div class="tab-pane fade" id="tab-notifikasi-content" role="tabpanel">
                              
                              <!-- Notifikasi -->
                            <notifikasi-component />

                            </div>
                            <div class="tab-pane fade" id="tab-keamanan-content" role="tabpanel">
                               <!-- Keamanan -->
                            <security-component />
                            </div>
                            <div class="tab-pane fade" id="tab-google-content" role="tabpanel">

                           <!-- Google Authenticator -->
                            <google-authenticator-component />
                            </div>
                        </div>
                        <!-- Tabs content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
   
<!-- Modal Alamat -->
<!-- Modal tambah Rekening -->
    <footer-component />
  </div>
</template>

<script>
import Header from "../includes/Header.vue";
import Footer from "../includes/Footer";
import OrderService from "../order-coustemer/Order-Service-Info";
import Inbox from "../order-coustemer/Inbox";
import Order from "../order-coustemer/Order";
import MyProfile from "../order-coustemer/MyProfile";
import Biodata from "../profile/Biodata";
import ListAdress from "../profile/List-Adress";
import Payer from "../profile/Payer";
import AccountBank from "../profile/Account-Bank";
import Notifikasi from "../profile/Notification";
import Security from "../profile/Security";
import GoogleAuthenticator from "../profile/Google-Authenticator";
import store from "../../store";
import * as actions from "../../store/action-types";

export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "order-sevices-component": OrderService,
    "inbox-component": Inbox,
    "order-component": Order,
    "myprofile-component": MyProfile,
    "biodata-component": Biodata,
    "listAdress-component": ListAdress,
    "payer-component": Payer,
    "account-bank-component": AccountBank,
    "notifikasi-component": Notifikasi,
    "security-component": Security,
    "google-authenticator-component": GoogleAuthenticator,
  },
  mounted() {
    console.log("Component mounted.");
    store.dispatch({
      type: actions.ADDRESS_LIST,
      param: `page=1&limit=6&sortBy=desc`,
    });
  },

};
</script>
