<template>
  <div>
      <body>
    <div class="mt-4 text-center">
        <a href=""><h3 class="text-success"><b>Onlinemol</b></h3></a>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center text-center">
                <div class="m-auto">
                    <img src="assets//WEB/ICON/ICON WEB134.svg" class="w-80" alt="">
                    <br>
                    <b>Jual Beli Mudah Hanya di Onlinemol</b>
                    <br>
                    <span class="f-9">Gabung dan rasakan kemudahan bertransaksi di Onlinemol</span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body pl-5 pr-5">
                        <h5 class="text-center">
                            <b>Daftar Sekarang</b>
                        </h5>
                        <p class="text-center f-10">Sudah punya akun Onlinemol? <a href="" class="text-success">Masuk</a></p>
                        <div class="d-flex justify-content-between align-content-stretch">
                            <button class="btn-white p-1 h-40 rounded-10 flex-fill mr-1"><img src="assets//WEB/ICON/ICON WEB84.svg" class="w-32" alt=""> Facebook</button>
                            <button class="btn-white p-1 h-40 rounded-10 flex-fill ml-1"><img src="assets//WEB/ICON/ICON WEB129.svg" class="w-30" alt=""> Google</button>
                        </div>
                        <div class="line-register mt-3 f-10 fc-text">
                            atau daftar dengan
                        </div>

                        <div class="mt-3">
                            <form action="">
                                <div class="form-group">
                                    <label class="m-0 f-10" for="">Nomor Ponsel atau Email</label>
                                    <input type="text" class="form-control f-10 lh-2" placeholder="" id="" aria-describedby="emailHelp">
                                    <small>Contoh: email@onlinemol.com</small>
                                </div>
                                <div class="form-group">
                                    <label class="m-0 f-10" for="">Password</label>
                                    <input type="password" class="form-control f-10 lh-2" placeholder="" id="">
                                </div>
                                <button class="btn btn-success btn-block f-10 p-3">Daftar</button>
                            </form>
                        </div>
                        <div class="text-center mt-3 f-10">
                            <p>Dengan mendaftar, saya menyetujui <br> <a href="" class="text-success">Syarat dan Ketentuan</a> serta <a href="" class="text-success">Kebijakan Privasi</a>.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>