<template>
    <div>
    <header-component/>
    <section class="main-section">
            <div class="container">
                <div class="row">
                    <side-member-component/>
                    <tab-review-detail-component/>
                </div>
            </div>
        </section>
    <footer-component/>
    </div>
</template>

<script>
import store from "../../store";
import * as actions from "../../store/action-types";
import Footer from '../includes/Footer.vue'
import Header from '../includes/Header.vue'
import SideMember from '../member/Side-Member.vue'
import TabReviewDetail from '../review-detail/Tab-Review-Detail.vue'

export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "side-member-component": SideMember,
    "tab-review-detail-component": TabReviewDetail,
  },
  mounted() {
      store.dispatch({
      type: actions.ULASAN_DETAIL,
      param: `page=1&limit=6&sortBy=desc`,
    });
      console.log("Component mounted.");
  },
}
</script>

        
<style>

</style>