<template>
  <div>
    <header-component />
    <div class="container-fluid">
    </div>
          <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card border-0 ">
                        <div class="shadows rounded-10">
                           <order-sevices-component />
                           <!-- Verivaited accont -->

                            <div class="profile-card-seperator"></div>
                            <!-- Inbox -->
                            <inbox-component />
                           
                            <div class="profile-card-seperator"></div>
                         <!-- Order/Pembelian -->
                        <order-component />
                        
                            <div class="profile-card-seperator"></div>
                            <!-- MyProfile / Profile saya -->
                            <myprofile-component />
                        </div>
                    </div>
                
                </div>
                <div class="col-md-9">
                    <div class="d-flex">
                        <b class="text-dark ml-2">Ulasan</b>
                    </div>
                    <div class="card mt-2">
                        <div class="tabbable">
                            <!-- Tabs navs -->
                            <ul class="nav nav-tabs mb-3" id="tab-scroll" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="tab-transaksi" data-mdb-toggle="tab" href="#tab-transaksi-content"
                                        role="tab">Menunggu Diulas</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="tab-update" data-mdb-toggle="tab" href="#tab-update-content"
                                        role="tab">Ulasan Saya</a>
                                </li>
                            </ul>
                            <!-- Tabs navs -->
                        </div>

                        <!-- Tabs content -->
                        <div class="tab-content" id="ex1-content">
                            <div class="tab-pane fade show active" id="tab-transaksi-content" role="tabpanel">
                              <!-- Menunggu di Ulas -->
                            <waiting-review-component />
                            </div>
                            <div class="tab-pane fade" id="tab-update-content" role="tabpanel">
                             
                             <!-- Ulsan saya -->
                             <my-review-component />
                            </div>
                        </div>
                        <!-- Tabs content -->
                    </div>
                </div>
              </div>
        </div>
    </section>
    <footer-component />
  </div>
</template>

<script>
import store from "../../store";
import * as actions from "../../store/action-types";
import Header from "../includes/Header.vue";
import Footer from "../includes/Footer";
import OrderService from "../order-coustemer/Order-Service-Info";
import Inbox from "../order-coustemer/Inbox";
import Order from "../order-coustemer/Order";
import MyProfile from "../order-coustemer/MyProfile.vue";
import WaitingReview from "../ulasan/Waiting-Review";
import MyReview from "../ulasan/My-Review";


export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "order-sevices-component": OrderService,
    "inbox-component": Inbox,
    "order-component": Order,
    "myprofile-component": MyProfile,
    "waiting-review-component": WaitingReview,
    "my-review-component": MyReview,

  },
  mounted() {

  },
};
</script>
