<template>
    <div>
    <header-component/>
    <section class="main-section">
            <div class="container">
                <div class="row">
                    <side-member-component/>
                    <waiting-payment-component/>
                </div>
            </div>
        </section>
    <footer-component/>
    </div>
</template>

<script>
import store from "../../store";
import * as actions from "../../store/action-types";
import Footer from '../includes/Footer.vue'
import Header from '../includes/Header.vue'
import SideMember from '../member/Side-Member.vue'
import WaitingPayment from '../waiting-payment/Waiting-Payment.vue'

export default {
  components: {
    "header-component": Header,
    "footer-component": Footer,
    "side-member-component": SideMember,
    "waiting-payment-component": WaitingPayment,
  },
  mounted() {
    store.dispatch({
    type: actions.TRANSAKSI_LIST,
    param: `page=1&limit=10&sortBy=desc`,
    });
      console.log("Component mounted.");
  },
}
</script>

        
<style>

</style>