<template>
  <div>
    <div class="row mt-4">
      <div class="col-12">
        <h4 class="main-title">
          <img src="assets/WEB/ICON/ICON WEB16.svg" class="img-icon" alt="" />
          Official Store
          <a href="" class="ml-4 text-link">Lihat Semua</a>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <a href="">
          <div class="rounded-10">
            <img src="assets/WEB/IMAGE/ta.png" class="img-fluid" alt="" />
            <!-- <div class="row">
                                <div class="col-md-7">
                                    <div class="p-2">
                                        <div class="store-label">
                                            <img src="assets/WEB/IMAGE/IMAGE WEB8.jpg" class="img-fluid rounded-10"
                                                alt="">
                                        </div>
                                        <h4 class="mt-4 fw-bold text-white">Diskon <br> hingga 50%</h4>
                                    </div>
                                </div>
                                <div class="col-md-5 my-auto">
                                    <img src="assets/WEB/IMAGE/IMAGE WEB84.png" class="img-fluid" alt="">
                                </div>
                            </div> -->
          </div>
        </a>
      </div>
      <div class="col-md-4 mt-2">
        <a href="">
          <div class="rounded-10">
            <img src="assets/WEB/IMAGE/aaa.png" class="img-fluid" alt="" />
            <!-- <div class="row">
                                <div class="col-md-7">
                                    <div class="p-2">
                                        <div class="store-label">
                                            <img src="assets/WEB/IMAGE/IMAGE WEB8.jpg" class="img-fluid rounded-10"
                                                alt="">
                                        </div>
                                        <h4 class="mt-4 fw-bold text-white">Diskon <br> hingga 92%</h4>
                                    </div>
                                </div>
                                <div class="col-md-5 my-auto">
                                    <img src="assets/WEB/IMAGE/IMAGE WEB9.png" class="img-fluid" alt="">
                                </div>
                            </div> -->
          </div>
        </a>
      </div>
      <div class="col-md-4 mt-2">
        <a href="">
          <div class="rounded-10">
            <img src="assets/WEB/IMAGE/aaaa.png" class="img-fluid" alt="" />
            <!-- <div class="row">
                                <div class="col-md-7">
                                    <div class="p-2">
                                        <div class="store-label">
                                            <img src="assets/WEB/IMAGE/IMAGE WEB8.jpg" class="img-fluid rounded-10"
                                                alt="">
                                        </div>
                                        <h4 class="mt-4 fw-bold text-white">Diskon <br> hingga 60%</h4>
                                    </div>
                                </div>
                                <div class="col-md-5 my-auto">
                                    <img src="assets/WEB/IMAGE/IMAGE WEB85.png" class="img-fluid" alt="">
                                </div>
                            </div> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>