<template>
   <div>
    <div class="card"> 
        <div class="shadows">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h2 class="main-title">Kategori Pilihan</h2>
                <div class="row">
                  <div class="col-6 col-lg-3 col-xl-3 col-md-6 col-sm-6" v-for="(item, index) in getCategoryFrefered.data" :key="index">
                    <a href="">
                      <div class="card p-2 h-100">
                        <div class="thumb-90">
                          <img
                            :src="item.image"
                            class="card-img-top"
                            alt="..."
                          />
                        </div>
                        <div class="card-body p-1">
                          <h6 class="fw-bold m-0 f-10 text-dark text-center">
                            {{ item.name }}
                          </h6>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h4 class="main-title">
                  Top Up & Tagihan
                  <a href="" class="ml-4 text-link">Lihat Semua</a>
                </h4>
                <div class="row">
                  <div class="col-12">
                    <div class="h-100">
                      <ul
                        class="rounded-10 nav nav-tabs nav-fill"
                        id="ex1"
                        role="tablist"
                      >
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link active"
                            id="ex2-tab-1"
                            data-mdb-toggle="tab"
                            href="#ex2-tabs-1"
                            role="tab"
                            aria-controls="ex2-tabs-1"
                            aria-selected="true"
                            >Pulsa</a
                          >
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="ex2-tab-2"
                            data-mdb-toggle="tab"
                            href="#ex2-tabs-2"
                            role="tab"
                            aria-controls="ex2-tabs-2"
                            aria-selected="false"
                            >Paket Data</a
                          >
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="ex2-tab-3"
                            data-mdb-toggle="tab"
                            href="#ex2-tabs-3"
                            role="tab"
                            aria-controls="ex2-tabs-3"
                            aria-selected="false"
                            >Listrik PLN</a
                          >
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="ex2-tab-3"
                            data-mdb-toggle="tab"
                            href="#ex2-tabs-3"
                            role="tab"
                            aria-controls="ex2-tabs-3"
                            aria-selected="false"
                            >Flight</a
                          >
                        </li>
                        <li class="nav-item" role="presentation">
                          <a
                            class="nav-link"
                            id="ex2-tab-3"
                            data-mdb-toggle="tab"
                            href="#ex2-tabs-3"
                            role="tab"
                            aria-controls="ex2-tabs-3"
                            aria-selected="false"
                          >
                            <img
                              src="assets/WEB/ICON/ICON WEB22.svg"
                              width="14px"
                              alt=""
                            />
                          </a>
                        </li>
                      </ul>
                      <!-- Tabs navs -->

                      <!-- Tabs content -->
                      <div class="tab-content p-3" id="ex2-content">
                        <div
                          class="tab-pane fade show active"
                          id="ex2-tabs-1"
                          role="tabpanel"
                          aria-labelledby="ex2-tab-1"
                        >
                          <div class="row">
                            <div class="col-md-5">
                              <div class="form-group">
                                <label for="" class="f-10 fw-bold"
                                  >Nomor Telepon</label
                                >
                                <input type="text" class="form-control" id="" />
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""
                                  >Nominal</label
                                >
                                <select name="" class="form-control" id="">
                                  <option value="">12.000 - Rp 12.000</option>
                                  <option value="">17.000 - Rp 17.000</option>
                                  <option value="">22.000 - Rp 22.000</option>
                                  <option value="">32.000 - Rp 32.000</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""></label>
                                <button class="btn btn-secondary">Beli</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="tab-pane fade"
                          id="ex2-tabs-2"
                          role="tabpanel"
                          aria-labelledby="ex2-tab-2"
                        >
                          <div class="row">
                            <div class="col-md-5">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""
                                  >Nomor Telepon</label
                                >
                                <input type="text" class="form-control" id="" />
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""
                                  >Nominal</label
                                >
                                <select name="" class="form-control" id="">
                                  <option value="">12.000 - Rp 12.000</option>
                                  <option value="">17.000 - Rp 17.000</option>
                                  <option value="">22.000 - Rp 22.000</option>
                                  <option value="">32.000 - Rp 32.000</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""></label>
                                <button class="btn btn-secondary">Beli</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="tab-pane fade"
                          id="ex2-tabs-3"
                          role="tabpanel"
                          aria-labelledby="ex2-tab-3"
                        >
                          <div class="row g-1">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""
                                  >Jenis Produk Listrik</label
                                >
                                <select name="" class="form-control" id="">
                                  <option value="">12.000 - Rp 12.000</option>
                                  <option value="">17.000 - Rp 17.000</option>
                                  <option value="">22.000 - Rp 22.000</option>
                                  <option value="">32.000 - Rp 32.000</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""
                                  >No. Meter/ID Pel</label
                                >
                                <input type="text" class="form-control" id="" />
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""
                                  >Nominal</label
                                >
                                <select name="" class="form-control" id="">
                                  <option value="">12.000 - Rp 12.000</option>
                                  <option value="">17.000 - Rp 17.000</option>
                                  <option value="">22.000 - Rp 22.000</option>
                                  <option value="">32.000 - Rp 32.000</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label class="f-10 fw-bold" for=""></label>
                                <button class="btn btn-secondary mt-4">
                                  Beli
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-12">
                <div class="frame-category">
                  <div id="owl-one" class="owl-carousel owl-theme">
                    <div class="item" v-for="(item, index) in getCategoryMenu.data" :key="index">
                      <a href="" class="category-mini">
                        <div class="category-mini-icon">
                          <object
                            data="assets/WEB/ICON/ICON WEB11.svg"
                            type=""
                          ></object>
                        </div>
                        <span> {{item.name}} </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <hr class="mt-4 mb-4" />
      <div class="row">
        <div class="col-12">
          <a href="">
            <img
              src="assets/WEB/IMAGE/IMAGE WEB80.jpg"
              class="img-fluid"
              alt=""
            />
          </a>
        </div>
      </div>
   </div>
</template>

<script>
import store from "../../store";

export default {

   mounted(){},
   computed:{
     getCategoryFrefered(){
       const data = store.getters.categoryFrefered;
       return data;
     },
       getCategoryMenu(){
       const data = store.getters.categoryMenu;
       return data;
     }

   },
}
</script>

<style>

</style>