<template>
  <div>
     <div class="row mt-4">
        <div class="col-12">
          <h4 class="main-title">Cari kategori apa?</h4>
        </div>
      </div>
      <!-- ITEM -->
      <div class="row">
        <div class="col-md-2 mt-3 text-center" v-for="(item, index) in getSearchingCategory.data" :key="index">
          <a href="javascript:void(0)" v-on:click="getProductCategory(item._id)">
            <div class="">
              <img :src="item.image"
                class="img-fluid"
                alt=""
              />
              <br />
              <b class="f-11 text-dark">{{ item.name }}</b>
            </div>
          </a>
        </div>
      </div>
      <!-- END ITEM -->
  </div>   
</template>

<script>
import store from "../../store";
import * as actions from "../../store/action-types";

export default {

   mounted(){},
   computed:{
     getSearchingCategory(){
       const data = store.getters.searchingCategoryList;
       return data;
     }
   },
   methods:{
     getProductCategory(id){
        store.dispatch({
          type: actions.REKOMENDASI_LIST,
          param: `categoryId=${id}&page=1&limit=6&sortBy=desc`,
        });
     }
   }
}
</script>

<style>

</style>