<template>
    <div class="row mt-4">
        <div class="col-12">
          <div class="frame-tab-home">
            <div id="owl-two" class="owl-carousel owl-theme">
              <div class="item"  v-for="(item, index) in getCategorySlider.data" :key="index">
                <button
                  class="tab-home"
                  onclick="tab(event,'You')"
                  id="defaultOpen"
                  style="background-color: #cb218e"
                >
                  <span class="tab-home-title" id="first"> {{item.name}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
</template>

<script>
import store from "../../store";

export default {

   mounted(){},
   computed:{
       getCategorySlider(){
       const data = store.getters.categorySlider;
       console.log("TEST")
       return data;
     }

   },
}
</script>

<style>

</style>