<template>
  <div>
       <div class="row mt-4">
        <div class="col-md-10">
          <h4 class="main-title text-danger">
            Punya Toko Online? Buka cabangnya di Onlinemol
          </h4>
          <p class="mt-3">Mudah, nyaman dan bebas komisi transaksi. GRATIS!</p>
          <div class="mt-4">
            <a href="" class="f-14 btn btn-success p-btn rounded-10">
              <b>Buka Toko GRATIS</b>
            </a>
            <a href="" class="ml-3 text-success lh-43">
              Pelajari lebih lanjut
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <img src="assets/WEB/ICON/ICON WEB20.svg" alt="" />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <p class="text-success">
            <b> Belanja di Shioping Sebagai Solusi Belanja Mudah dan Aman </b>
          </p>
          <p class="fc-text">
            Onlinemol adalah mobile-platform jual beli sparepart motor di
            Indonesia yang menawarkan transaksi jual beli online yang
            menyenangkan, gratis, dan terpercaya via ponsel. Bergabunglah dengan
            jutaan pengguna lainnya dengan mulai mendaftarkan produk jualan dan
            berbelanja berbagai penawaran menarik kapan saja, di mana saja.
            Keamanan transaksi kamu terjamin.. Ayo gabung dalam komunitas
            Onlinemol dan mulai belanja sekarangTemukan apapun kebutuhan
            sparepart motormu dengan harga terbaik cuma di Onlinemol. Onlinemol
            adalah pusat perbelanjaan online dimana kamu bisa mendapatkan update
            terkini dari penjual yang kamu ikuti, sekaligus dari pengguna
            favorit kamu. Berbelanja dan berjualan menjadi lebih menyenangkan
            dengan fitur sosial, di mana kamu bisa menyebarkan produk yang kamu
            jual atau pun barang favorit kamu hanya dengan satu klik saja!
            <br /><br />
            Belanja semua kebutuhan sparepart motormu di Shioping dengan hati
            yang tenang! Cek rating dan review toko-toko yang ada dan temukan
            penjual yang terpercaya dengan mudah. Kami selalu mengutamakan
            keamanan transaksi untuk para pembeli kami!
          </p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="row gx-0">
            <div class="col-4">
              <img
                src="assets/WEB/ICON/ICON WEB31.svg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-8">
              <h5 class="text-success">
                <b>Transparan</b>
              </h5>
              <p class="f-11 fc-text mt-4">
                Pembayaran Anda bari diteruskan ke penjual setelah barang Anda
                di terima
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row gx-0">
            <div class="col-4">
              <img
                src="assets/WEB/ICON/ICON WEB25.svg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-8">
              <h5 class="text-success">
                <b>Aman</b>
              </h5>
              <p class="f-11 fc-text mt-4">
                Bandingkan review untuk berbagai online stop terpercaya
                se-Indonesia
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row gx-0">
            <div class="col-4">
              <img
                src="assets/WEB/ICON/ICON WEB30.svg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-8">
              <h5 class="text-success">
                <b>Fasilitas Escrow Gratis</b>
              </h5>
              <p class="f-11 fc-text mt-4">
                Fasilitas Escrow (Rekening Bersama) Shioping tidak dikenakan
                biaya tambahan
              </p>
            </div>
          </div>
        </div>
      </div>   
  </div>    
</template>

<script>
export default {

}
</script>

<style>

</style>