<template>  
    <!-- footer -->
    <footer class="text-center text-lg-start footer">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row p-4">
          <div class="col-8">
            <div class="row">
              <div class="col-4">
                <h4 class="footer-onlinemol-bold">Onlinemol</h4>
                <h6 class="footer-onlinemol"><a href="#">Tentang Onlinemol</a></h6>
                <h6 class="footer-onlinemol"><a href="#">Karir</a></h6>
                <h6 class="footer-onlinemol"><a href="#">Blog</a></h6>
              </div>
              <div class="col-4">
                <h4 class="footer-onlinemol-bold">Beli</h4>
                <h6 class="footer-onlinemol"><a href="#">Tagihan & Top Up</a></h6>
                <h6 class="footer-onlinemol"><a href="#">Tukar Tambah Handphone</a></h6>
                <h6 class="footer-onlinemol"><a href="#">Onlinemol COD</a></h6>
              </div>
              <div class="col-4">
                <h4 class="footer-onlinemol-bold">Bantuan dan Panduan</h4>
                <h6 class="footer-onlinemol"><a href="#">Onlinemol Care</a></h6>
                <h6 class="footer-onlinemol"><a href="#">Syarat dan Ketentuan</a></h6>
                <h6 class="footer-onlinemol"><a href="#">Kebijakan Privasi</a></h6>
              </div>
              <div class="col-4">
                <!-- spacer -->
              </div>
              <div class="col-4">
                <h4 class="footer-onlinemol-bold">Jual</h4>
                <h6 class="footer-onlinemol"><a href="#">Pusat Edukasi Seller</a></h6>
                <h6 class="footer-onlinemol"><a href="#">Mitra Toppers</a></h6>
                <h6 class="footer-onlinemol"><a href="#">Daftar Official Store</a></h6>
              </div>
              <div class="col-4">
                <h4 class="footer-onlinemol-bold">Keamanan</h4>
                <img src="assets/WEB/IMAGE/IMAGE WEB81.jpg" width="100px">
              </div>
              <div class="col-4">
                <!-- spacer -->
              </div>
              <div class="col-4">
                <!-- spacer -->
              </div>
              <div class="col-4">
                <h4 class="footer-onlinemol-bold">Ikuti Kami</h4>
                <span class="social-icon text-muted">
                    <a href="">
                        <img src="assets/WEB/ICON/ICON WEB84.svg" width="34px" alt="">
                    </a>
                    <a href="">
                        <img src="assets/WEB/ICON/ICON WEB104.svg" width="34px" alt="">
                    </a>
                    <a href="">
                        <img src="assets/WEB/ICON/ICON WEB105.svg" width="34px" alt="">
                    </a>
                    <a href="">
                        <img src="assets/WEB/ICON/ICON WEB101.svg" width="34px" alt="">
                    </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <img src="assets/WEB/ICON/ICON WEB19.svg" class="mall-image">
            <br>
            <div class="row mt-3">
                <div class="col-6">
                    <img src="assets/WEB/IMAGE/IMAGE WEB10.png" class="img-fluid" alt="">
                </div>
                <div class="col-5">
                    <img src="assets/WEB/IMAGE/IMAGE WEB5.png" alt="" class="img-fluid">
                </div>
            </div>
            <p class="text-center mt-3 f-10 fc-text">
                @ 2009 - 2021, PT. Onlinemol
            </p>
            <div class="text-center">
                <div class="btn-switch">
                    <button class="primary">
                        Indonesia
                    </button>
                    <button class="off">
                        English 
                    </button>
                </div>
            </div>
          </div>
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>