<template>
    <div class="fixed-navbar">
        <div class="top-bar f-11">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="top-bar-item f-10">
                            <i class="fas fa-mobile-alt"></i><a href="#"> Download Onlinemol App</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end f-10">
                            <a href="#" class="top-bar-item right">Tentang Onlinemol</a>
                            <a href="#" class="top-bar-item right">Mitra Onlinemol</a>
                            <a href="#" class="top-bar-item right">Mulai Berjualan</a>
                            <a href="#" class="top-bar-item right">Promo</a>
                            <a href="#" class="top-bar-item right">Onlinemol Care</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav-bar shadow-nav">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-2 nav-bar-title">
                        <a href="">
                            <h3><b>Onlinemol</b></h3>
                        </a>
                    </div>
                    <div class="col-6 nav-bar-search">
                        <div class="input-group border rounded">
                            <input type="text" class="form-control rounded border-0 f-10" placeholder="Cari barang disini ..." />
                            <span class="input-group-text category-search-icon border-0">
                                <img src="assets/WEB/ICON/ICON WEB03.svg" class="w-20"
                                    alt="">
                            </span>
                        </div>
                        <div class="search-recommendations f-9 fc-text">
                            <a href="javascript:void(0)" v-for="(item, index) in getCategoryHeader.data" :key="index">{{item.name}}</a>
                        </div>
                    </div>
                    <div class="col-4 nav-bar-misc">
                        <div class="d-flex justify-content-between mt-1 pl-5">
                            <div class="dropdown-custom">
                                <div class="icon-notification">2</div>
                                <i class="fas fa-shopping-cart btn-dropdown-custom"></i>
                                <div class="content-dropdown-custom w-400-px f-10 p-3">
                                    <div class="border-bottom">
                                        <div class="d-flex justify-content-between p-3">
                                            <b>Keranjang (1)</b>
                                            <a href="" class="p-0 m-0 text-success">Lihat sekarang</a>
                                        </div>
                                    </div>
                                    <div class="h-300 scroll-custom">
                                        <a href="" v-for="(item, index) in getChart" :key="index">
                                            <div class="d-flex p-3 text-left border-bottom" v-for="(row, idx) in item.order_details" :key="idx">
                                                <img :src="row.product_image" class="w-40" alt="">
                                                <div class="ml-2 parent-ellipsis align-items-start flex-column">
                                                    <span class="ellipsis-200">{{ row.product_name }}  </span>
                                                    <div>
                                                        <small>{{ row.quantity  }} Barang ({{ row.weight }}gr)</small>
                                                    </div>
                                                </div>
                                                <div class="ml-auto d-flex align-items-center">
                                                    <b class="fc-orange">Rp {{ row.product_price }}</b>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-custom">
                                <div class="icon-notification">4</div>
                                <i class="fas fa-bell btn-dropdown-custom"></i>
                                <div class="content-dropdown-custom w-300-px f-10">
                                    <div class="shadows">
                                        <div class="d-flex justify-content-between p-3">
                                            <b>Notifikasi</b>
                                            <a href="" class="p-0 m-0 rounded-full"><img src="assets/WEB/ICON/ICON WEB103.svg" class="w-30" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="tabbable">
                                            <!-- Tabs navs -->
                                            <ul class="nav nav-tabs nav-fill" id="tab-scroll" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active" data-mdb-toggle="tab" href="#nav-tab-transaksi"
                                                        role="tab">Transaksi</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link d-flex" data-mdb-toggle="tab" href="#nav-tab-update"
                                                        role="tab">Update (2) <div class="dot-red ml-2"></div></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content" id="ex1-content">
                                            <div class="tab-pane fade show active" id="nav-tab-transaksi" role="tabpanel">
                                                <div class="h-300 scroll-custom">
                                                    <div class="d-flex justify-content-between p-3">
                                                        <b>Pembelian</b>
                                                        <a href="" class="p-0 m-0 text-success">Lihat Semua</a>
                                                    </div>
                                                    <div>
                                                        <a href="" class="drop-link">Menunggu Pembayaran</a>
                                                    </div>
                                                    <div class="d-flex p-2 text-center">
                                                        <div class="text-center">
                                                            <a href="" class="p-0 m-0 text-center">
                                                                <img src="assets/WEB/ICON/ICON WEB26.svg" class="w-35" alt="">
                                                                <span class="f-8 text-dark">Menunggu Pembayaran</span>
                                                            </a>
                                                        </div>
                                                        <div class="text-center">
                                                            <a href="" class="p-0 m-0 text-center">
                                                                <img src="assets/WEB/ICON/ICON WEB28.svg" class="w-35" alt="">
                                                                <span class="f-8 text-dark">Pesanan Diproses</span>
                                                            </a>
                                                        </div>
                                                        <div class="text-center">
                                                            <a href="" class="p-0 m-0 text-center">
                                                                <img src="assets/WEB/ICON/ICON WEB29.svg" class="w-35" alt="">
                                                                <span class="f-8 text-dark">Sedang Dikirim</span>
                                                            </a>
                                                        </div>
                                                        <div class="text-center">
                                                            <a href="" class="p-0 m-0 text-center">
                                                                <img src="assets/WEB/ICON/ICON WEB27.svg" class="w-35" alt="">
                                                                <span class="f-8 text-dark">Menunggu Pembayaran</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="bl-5"></div>
                                                    <div class="text-left pl-3">
                                                        <b>Untuk Kamu</b>
                                                    </div>
                                                    <div class="text-center">
                                                        <img src="assets/WEB/ICON/ICON WEB32.svg" class="w-50" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-tab-update" role="tabpanel">
                                                <div class="text-center">
                                                    <img src="assets/WEB/ICON/ICON WEB32.svg" class="w-50" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex justify-content-between p-3 f-9">
                                        <a href="" class="text-success">Tandai semua dibaca</a>
                                        <a href="" class="text-success">Lihat selengkapnya</a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-custom">
                                <div class="icon-notification">1</div>
                                <i class="fas fa-envelope btn-dropdown-custom"></i>
                                <div class="content-dropdown-custom w-200-px f-10">
                                    <a href="" class="drop-link">Chat <div class="icon-notification-sub">4</div></a>
                                    <a href="" class="drop-link">Diskusi</a>
                                    <a href="" class="drop-link">Ulasan</a>
                                    <a href="" class="drop-link">Pesan Bantuan</a>
                                    <a href="" class="drop-link">Pesanan Dikomplain</a>
                                </div>
                            </div>
                            <div class="bh-16 mt-2"></div>
                            <div class="dropdown-custom">
                                <div class="btn-dropdown-custom f-10 parent-ellipsis">
                                    <img src="assets/WEB/ICON/ICON WEB57.svg" class="w-30" alt="">
                                    <span class="ellipsis-80 ml-1 drop-caption">Toko Online Indonesia</span>
                                </div>
                                <div class="content-dropdown-custom w-400-px f-10 p-3">
                                    <div class="d-flex">
                                        <img src="assets/WEB/ICON/ICON WEB106.svg" class="w-40" alt="">
                                        <div class="text-left ml-1">
                                            <b>Toko Online Indonesia</b> <br>
                                            <span class="ellipsis-100 ml-1 f-8">Regular Merchant</span> <a href="" class="text-success">Upgrade menjadi power merchant</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="text-left">
                                        <b>OnlineMol Seller</b>
                                        <p class="f-8">
                                            Pantau pesanan yang masuk dan cek perkembangan tokomu secara rutin di satu tempat.
                                        </p>
                                        <button class="btn btn-success btn-block">Cek Onlinemol Seller</button>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-custom">
                                <div class="btn-dropdown-custom f-10 parent-ellipsis">
                                    <img src="assets/WEB/ICON/ICON WEB106.svg" class="w-30" alt="">
                                    <span class="ellipsis-80 ml-1 drop-caption">Lidya Saraswati</span>
                                </div>
                                <div class="content-dropdown-custom-right w-400-px f-10">
                                    <div class="card m-2">
                                        <div class="shadows">
                                        <div class="card-body d-flex">
                                                <img src="assets/WEB/ICON/ICON WEB106.svg" class="w-40" alt="">
                                                <div class="">
                                                    <b>Lidya Saraswati</b><br>
                                                    <a href="" class="ml-4"><img src="assets/WEB/ICON/ICON WEB36.svg" class="w-10" alt=""> Member Silver <img src="assets/WEB/ICON/ICON WEB14.svg" class="w-10" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-0 m-0">
                                        <div class="col-7 border-right pb-3 pt-2">
                                            <a href="" class="d-flex justify-content-between">
                                                <div>OVO cash</div>
                                                <div>Rp 5000</div>
                                            </a>
                                            <a href="" class="d-flex justify-content-between mt-2">
                                                <div>OVO points</div>
                                                <div>Rp 90000</div>
                                            </a>
                                            <hr>
                                            <a href="" class="d-flex justify-content-between">
                                                <div>Saldo</div>
                                                <div>Rp 0</div>
                                            </a>
                                            <hr>
                                            <a href="" class="d-flex justify-content-between mt-2">
                                                <div>Toko Member</div>
                                                <div>0</div>
                                            </a>
                                            <a href="" class="d-flex justify-content-between mt-2">
                                                <div>Top Quest</div>
                                                <div>10</div>
                                            </a>
                                            <a href="" class="d-flex justify-content-between mt-2">
                                                <div>Kupon Saya</div>
                                                <div>0</div>
                                            </a>
                                        </div>
                                        <div class="col-5">
                                            <div class="d-flex align-items-start flex-column bd-highlight">
                                                <div class="d-flex align-items-start flex-column">
                                                    <a href="" class="p-2">Pembelian</a>
                                                    <a href="" class="p-2">Wishlist</a>
                                                    <a href="" class="p-2">Toko Favorit</a>
                                                    <a href="" class="p-2">Pengaturan</a>
                                                </div>
                                                <div class="mt-auto">
                                                    <a href="" class="p-2 mt-auto">Keluar <img src="assets/WEB/ICON/ICON WEB102.svg" class="w-20" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </nav>
        <div class="bg-content-dropdown"></div>
    </div>
</template>

<script>
import store from "../../store";

export default {

   mounted() {
     store.dispatch({
      type: actions.CHART_LIST,
      param: `page=1&limit=6&sortBy=desc`,
    });
    console.log("Component mounted.");
  },
   computed:{
     getCategoryHeader(){
       const data = store.getters.categoryHeader;
       return data;
     },
     getChart(){
      const data = store.getters.chartList;
      return data;
    },
   },

}
</script>

<style>

</style>