<template>
    <div class="mt-2">
        <div class="d-flex flex-row-reverse">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <img src="assets/WEB/ICON/arrow-right.svg" class="paginate-first" alt="">
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item m-auto active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item m-auto"><a class="page-link" href="#">2</a></li>
                    <li class="page-item m-auto"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <!-- <span aria-hidden="true">&raquo;</span> -->
                            <img src="assets/WEB/ICON/arrow-right.svg" class="paginate-last" alt="">
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
