<template>
  <div>
    <div class="row mt-4">
        <div class="col-12">
          <h4 class="main-title">Cari semua di Onlinemol</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="rounded-10 nav nav-tabs nav-fill" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14 active"
                id="ex2-tab-1"
                data-mdb-toggle="tab"
                href="#ex2-tabs-1"
                role="tab"
                aria-controls="ex2-tabs-1"
                aria-selected="true"
                >Promo</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14"
                id="ex2-tab-2"
                data-mdb-toggle="tab"
                href="#ex2-tabs-2"
                role="tab"
                aria-controls="ex2-tabs-2"
                aria-selected="false"
                >Tiket Pesawat</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14"
                id="ex2-tab-3"
                data-mdb-toggle="tab"
                href="#ex2-tabs-3"
                role="tab"
                aria-controls="ex2-tabs-3"
                aria-selected="false"
                >Tiket Kereta</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14"
                id="ex2-tab-3"
                data-mdb-toggle="tab"
                href="#ex2-tabs-3"
                role="tab"
                aria-controls="ex2-tabs-3"
                aria-selected="false"
                >Hotel</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14"
                id="ex2-tab-3"
                data-mdb-toggle="tab"
                href="#ex2-tabs-3"
                role="tab"
                aria-controls="ex2-tabs-3"
                aria-selected="false"
                >Food & Voucher</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14"
                id="ex2-tab-3"
                data-mdb-toggle="tab"
                href="#ex2-tabs-3"
                role="tab"
                aria-controls="ex2-tabs-3"
                aria-selected="false"
                >Produk Digital</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14"
                id="ex2-tab-3"
                data-mdb-toggle="tab"
                href="#ex2-tabs-3"
                role="tab"
                aria-controls="ex2-tabs-3"
                aria-selected="false"
                >Fintech</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14"
                id="ex2-tab-3"
                data-mdb-toggle="tab"
                href="#ex2-tabs-3"
                role="tab"
                aria-controls="ex2-tabs-3"
                aria-selected="false"
                >Onlinemol Salam</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link p-14"
                id="ex2-tab-3"
                data-mdb-toggle="tab"
                href="#ex2-tabs-3"
                role="tab"
                aria-controls="ex2-tabs-3"
                aria-selected="false"
                >Onlinemol Find</a
              >
            </li>
          </ul>
          <!-- Tabs navs -->

          <!-- Tabs content -->
          <div class="tab-content p-3" id="ex2-content">
            <div
              class="tab-pane fade show active"
              id="ex2-tabs-1"
              role="tabpanel"
              aria-labelledby="ex2-tab-1"
            >
              <div class="row">
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Bebas Ongkir </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Waktu Indonesia Belanja
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Waktu Indonesia Belanja TV Show
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Kejar Diskon </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Flash Sale </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Promo Pengguna Baru </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Bangga Buatan Indonesia
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Onlinemol Nyam </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Supermarket Week </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Tap Tap Kotak </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Home Living Salebration
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Super Gadget Day </a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade show"
              id="ex2-tabs-2"
              role="tabpanel"
              aria-labelledby="ex2-tab-2"
            >
              <div class="row">
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Bebas Ongkir </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Waktu Indonesia Belanja
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Waktu Indonesia Belanja TV Show
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Kejar Diskon </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Flash Sale </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Promo Pengguna Baru </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Bangga Buatan Indonesia
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Onlinemol Nyam </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Supermarket Week </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Tap Tap Kotak </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Home Living Salebration
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Super Gadget Day </a>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade show"
              id="ex2-tabs-3"
              role="tabpanel"
              aria-labelledby="ex2-tab-3"
            >
              <div class="row">
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Bebas Ongkir </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Waktu Indonesia Belanja
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Waktu Indonesia Belanja TV Show
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Kejar Diskon </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Flash Sale </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Promo Pengguna Baru </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Bangga Buatan Indonesia
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Onlinemol Nyam </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Supermarket Week </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Tap Tap Kotak </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10">
                      Home Living Salebration
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="border-bottom p-2">
                    <a href="" class="text-dark f-10"> Super Gadget Day </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>    
</template>

<script>
export default {

}
</script>

<style>

</style>