<template>
    <div>
        <div class="mt-4">
            <b class="f-10">SEMUA ULASAN ({{ getReviewProduct.count }})</b>
            <br>
            <div class="mt-3 d-flex justify-content-between" v-for="(item, index) in getReviewProduct.data" :key="index">
                <div class="d-flex">
                    <div class="d-flex">
                        <div>
                            <img :src="item.asked.seller_id.photo" class="w-60" alt="">
                        </div>
                        <div class="ml-2 d-flex flex-column">
                            <span class="text-link f-9">{{ item.asked.seller_id.name }}</span>
                            <span class="fc-text ml-2 f-9 w-max">1 bulan lalu</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="ml-5 w-75">
                            <div>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                            </div>
                            <p class="f-10">{{ item.ulasan }}</p>
                            <a href="" v-for="(row, idx) in item.image" :key="idx">
                                <img :src="row" class="w-60 m-2" alt="">
                            </a>
                            <div class="card rounded-18 bg-light border-0">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div>
                                            <img src="assets/WEB/ICON/ICON WEB127.svg" class="w-35" alt="">
                                        </div>
                                        <div class="d-flex">
                                            <div class="ml-2">
                                                <a href="" class="text-link">
                                                    <span class="f-10">{{item.asked.seller_id.name}}</span>
                                                </a>
                                                <br>
                                                <span class="fc-text f-9 ml-2">1 minggu lalu</span>
                                            </div>
                                            <div class="item-badge">
                                                <span class="success">
                                                    Penjual
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="pl-5 mb-0 mt-2 f-10">{{item.asked.ask}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button class="btn-icon">
                                <img src="assets/WEB/ICON/ICON WEB89.svg" class="w-20" alt="">
                            </button>
                            <a href="" class="text-link">Laporkan</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row-reverse">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <img src="assets/WEB/ICON/arrow-right.svg" class="paginate-first" alt="">
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item m-auto active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item m-auto"><a class="page-link" href="#">2</a></li>
                        <li class="page-item m-auto"><a class="page-link" href="#">3</a></li>
                        <li class="page-item m-auto"><a class="page-link" href="#">4</a></li>
                        <li class="page-item m-auto"><a class="page-link" href="#">5</a></li>
                        <li class="page-item m-auto"><a class="page-link" href="#">6</a></li>
                        <li class="page-item m-auto"><a class="page-link" href="#">7</a></li>
                        <li class="page-item m-auto"><a class="page-link" href="#">...</a></li>
                        <li class="page-item m-auto"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <!-- <span aria-hidden="true">&raquo;</span> -->
                                <img src="assets/WEB/ICON/arrow-right.svg" class="paginate-last" alt="">
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
import store from "../../store";
import { multiplePricing } from "../../utils/helper";


export default {
   data(){
     return {}
   },
   mounted(){},
   computed:{
     getReviewProduct(){
       const data = store.getters.reviewProductList;
    //    console.log(JSON.stringify(data));
       return data;
     }
   },
   methods: {
     multiplePricing,
   }
}
</script>

<style>

</style>
