<template>
    <div class="row">
        <div class="col-2 col-md-2 mt-3" v-for="(item, index) in getAnotherProduct.data" :key="index">
            <a href="">
                <div class="h-100">
                    <div class="rounded-10 item-product shadows">
                        <div class="item-img">
                            <img :src="item.image" alt="">
                        </div>
                        <div class="icon-wish">
                            <span class="fa fa-heart m-auto"></span>
                        </div>
                        <div class="p-2 item-desc">
                            <p>{{ item.name }}</p>
                            <div class="item-price">
                                <b class="fc-orange">Rp {{ multiplePricing(item.variasi, item.sizes, item.price, item.discount)}}</b>
                            </div>
                            <div class="d-flex">
                                <object data="assets/WEB/ICON/ICON WEB16.svg" class="w-15" type=""></object>
                                <span class="f-10 ms-2">Bandung</span>
                            </div>
                            <div class="item-rating">
                                <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                <small>(1120)</small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    import store from "../../store";
    import { multiplePricing } from "../../utils/helper";

    export default {
        data() {
            return {}
        },
        mounted() {},
        computed: {
            getAnotherProduct() {
                const data = store.getters.anotherProductList;
                return data;
            }
        },
        methods: {
            multiplePricing,
        }
    }

</script>

<style>

</style>
