<template>
    <div>
        <div class="mt-4 d-flex justify-content-between">
            <span class="f-10">ULASAN PALING MEMBANTU</span>
        </div>
        <div class="card mt-4 w-75" v-for="(item, index) in getReviewProduct.data" :key="index">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <img :src="item.asked.seller_id.photo" class="w-60" alt="">
                    </div>
                    <div>
                        <span class="text-link">{{ item.asked.seller_id.name }}</span><br>
                        <div class="d-flex">
                            <div class="ml-2">
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                <object data="assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                            </div>
                            <span class="fc-text ml-2">1 bulan lalu</span>
                        </div>
                    </div>
                </div>
                <p class="mt-2">{{item.asked.ask}}</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <a href="" class="f-10 my-auto">Apakah ulasan ini membantu ?</a>
                    <div>
                        <button class="btn-white p-6-20 rounded-18">
                            <img src="assets/WEB/ICON/ICON WEB89.svg" class="w-20" alt="">
                        </button>
                        <a href="" class="text-link">Laporkan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import store from "../../store";
import { multiplePricing } from "../../utils/helper";


export default {
   data(){
     return {}
   },
   mounted(){},
   computed:{
     getReviewProduct(){
       const data = store.getters.reviewProductList;
    //    console.log(JSON.stringify(data));
       return data;
     }
   },
   methods: {
     multiplePricing,
   }
}
</script>

<style>

</style>
