<template>
    <div>
        <div class="row">
            <div class="mt-4">
                <b class="f-10">DISKUSI (20)</b>
                <p>Tiffany Shoulderbag - Green</p>

                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="fc-text">
                                <img src="assets/WEB/ICON/ICON WEB92.svg" class="w-60" alt="">
                                <span>Ada Pertanyaan?</span>
                                <b>
                                    Diskusikan dengan penjual atau pengguna lain
                                </b>
                            </div>
                            <div class="my-auto">
                                <button class="btn btn-success">Tulis Pertanyaan</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-for="(item, index) in getDiscussProduct.data" :key="index">
                    <div class="card rounded-0 mt-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <div>
                                        <img :src="item.user_id.photo" class="w-35 rounded-full" alt="">
                                    </div>
                                    <div class="ml-3 d-flex flex-column">
                                        <span class="f-11"><b>{{ item.user_id.name }}</b> - <span
                                                class="fc-text f-10">08
                                                Februari pukul 21:14</span></span>
                                        <span class="fc-text f-11 mt-2 w-max">{{item.comment}}</span>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn-white p-1 f-10 mr-3">Ikuti Diskusi</button>
                                    <a href="">
                                        <img src="assets/WEB/ICON/ICON WEB80.svg" class="w-30" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-light rounded-0">
                        <div class="card-body">
                            <div class="d-flex justify-content-between pl-6">
                                <div class="d-flex w-100">
                                    <div class="ml-3 d-flex flex-column w-100">
                                        <div v-for="(row, idx) in item.comments" :key="idx" style="margin-bottom: 7px">
                                            <div class="row">
                                                <div class="col-md-1 col-sm-2 col-2">
                                                    <img :src="row.user_id.photo" class="w-35 rounded-full" alt=""
                                                        v-if="row.type == 1" />
                                                    <img :src="row.seller_id.photo" class="w-35 rounded-full" alt=""
                                                        v-else />
                                                </div>
                                                <div class="col-md-11 col-sm-10 col-10">
                                                    <div class="item-badge">
                                                        <span class="f-11"
                                                            v-if="row.type == 1"><b>{{ row.user_id.name }}</b>
                                                        </span>
                                                        <span class="f-11" v-else><b>{{ row.seller_id.name }}</b>
                                                        </span>
                                                        <span class="success" v-if="row.type == 2">
                                                            Penjual
                                                        </span>

                                                        -
                                                        <span class="fc-text f-10">12 Februari</span>
                                                    </div>

                                                    <span class="fc-text f-11 mt-2 w-max">{{row.comment}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-3 d-flex">
                                            <img src="" class="w-35 rounded-full h-35"
                                                alt="" />
                                            <textarea name="" class="form-control ml-2 f-10" id=""
                                                placeholder="Tulis disini..."></textarea>
                                        </div>
                                        <div class="d-flex flex-row-reverse mt-2">
                                            <button class="btn ts ml-2">Kirim</button>
                                            <button type="reset" class="btn ts shadow-0">
                                                Batal
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="" class="w-30" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <form action="">
                        <textarea name="" class="form-control" id="" cols="30" rows="5"
                            placeholder="Apa yang ingin Anda tanyakan mengenai produk ini?"></textarea>
                        <div class="text-right">
                            <button class="btn btn-success mt-2">Kirim</button>
                        </div>
                    </form>
                </div>

                <div class="card rounded-0 mt-4">
                    <div class="card-body">
                        <div class="d-flex flex-row-reverse">
                            <a href="" class="text-dark ml-4"><span class="fa fa-comment"></span> Chat
                                Penjual</a>
                            <div class="bh-16 ml-4"></div>
                            <span class="fc-text">Atau hubungi langsung penjual</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import store from "../../store";
    import {
        multiplePricing
    } from "../../utils/helper";


    export default {
        data() {
            return {}
        },
        mounted() {},
        computed: {
            getDiscussProduct() {
                const data = store.getters.discussProductList;
                console.log(JSON.stringify(data));
                return data;
            }
        },
        methods: {
            multiplePricing,
        }
    }

</script>

<style>

</style>
