<template>
  <div>
      <div class="mt-4 d-flex justify-content-between">
                    <b>Fashion pilihan untukmu</b>
                </div>
                <div class="row">
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB23.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Wiressless Bluetooth Earphone Stereo Earbuds</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB16.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB26.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Smartwatch Dial Bulat Besar</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB28.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>BOX SHAD SH34-BLACK</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB16.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB29.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Side Plit Anata Top Mocca M13696 R37S2</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 125.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB08.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB23.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Wiressless Bluetooth Earphone Stereo Earbuds</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB16.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB26.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Smartwatch Dial Bulat Besar</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB23.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Wiressless Bluetooth Earphone Stereo Earbuds</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB16.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB26.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Smartwatch Dial Bulat Besar</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB28.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>BOX SHAD SH34-BLACK</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB16.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB29.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Side Plit Anata Top Mocca M13696 R37S2</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 125.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB08.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB23.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Wiressless Bluetooth Earphone Stereo Earbuds</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB16.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2 col-md-2 mt-3">
                        <a href="">
                            <div class="h-100">
                                <div class="rounded-10 item-product shadows">
                                    <div class="item-img">
                                        <img src="assets/WEB/IMAGE/IMAGE WEB26.jpg" alt="">
                                    </div>
                                    <div class="icon-wish">
                                        <span class="fa fa-heart m-auto"></span>
                                    </div>
                                    <div class="p-2 item-desc">
                                        <p>Smartwatch Dial Bulat Besar</p>
                                        <div class="item-price">
                                            <b class="fc-orange">Rp 145.000</b>
                                        </div>
                                        <div class="d-flex">
                                            <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-15" type=""></object>
                                            <span class="f-10 ms-2">Bandung</span>
                                        </div>
                                        <div class="item-rating">
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                            <small>(1120)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>