<template>
    <div>
        <div class="mt-4 d-flex justify-content-between">
            <span class="my-auto">Filter</span>
            <div>
                <button class="btn-white-active p-6-20 rounded-18">
                    Semua (66)
                </button>
                <button class="btn-white p-6-20 rounded-18">
                    Dengan Foto (13)
                </button>
                <button class="btn-white p-6-20 rounded-18">
                    <img src="assets/WEB/ICON/bintang.svg" class="w-20 my-auto" alt="">
                    <span class="my-auto">
                        5
                    </span>
                </button>
                <button class="btn-white p-6-20 rounded-18">
                    <img src="assets/WEB/ICON/bintang.svg" class="w-20 my-auto" alt="">
                    <span class="my-auto">
                        4
                    </span>
                </button>
                <button class="btn-white p-6-20 rounded-18">
                    <img src="assets/WEB/ICON/bintang.svg" class="w-20 my-auto" alt="">
                    <span class="my-auto">
                        3
                    </span>
                </button>
                <button class="btn-white p-6-20 rounded-18">
                    <img src="assets/WEB/ICON/bintang.svg" class="w-20 my-auto" alt="">
                    <span class="my-auto">
                        2
                    </span>
                </button>
                <button class="btn-white p-6-20 rounded-18">
                    <img src="assets/WEB/ICON/bintang.svg" class="w-20 my-auto" alt="">
                    <span class="my-auto">
                        1
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
