<template>
    <div class="col-md-5">
        <div class="preview sticky-detail">
            <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1" data-scale="1.6"><img class="item-photo"
                        src="assets/WEB/IMAGE/IMAGE WEB35.jpg" /></div>
                <div class="tab-pane" id="pic-2" data-scale="1.6"><img class="item-photo"
                        src="assets/WEB/IMAGE/IMAGE WEB30.jpg" /></div>
                <div class="tab-pane" id="pic-3" data-scale="1.6"><img class="item-photo"
                        src="assets/WEB/IMAGE/IMAGE WEB35.jpg" /></div>
                <div class="tab-pane" id="pic-4" data-scale="1.6"><img class="item-photo"
                        src="assets/WEB/IMAGE/IMAGE WEB30.jpg" /></div>
                <div class="tab-pane" id="pic-5" data-scale="1.6"><img class="item-photo"
                        src="assets/WEB/IMAGE/IMAGE WEB35.jpg" /></div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
                <li class="active"><a class="active" data-target="#pic-1" data-mdb-toggle="tab" href="#pic-1"
                        role="tab"><img src="assets/WEB/IMAGE/IMAGE WEB35.jpg" /></a></li>
                <li><a data-target="#pic-2" data-toggle="tab" data-mdb-toggle="tab" href="#pic-2" role="tab"><img
                            src="assets/WEB/IMAGE/IMAGE WEB30.jpg" /></a></li>
                <li><a data-target="#pic-3" data-toggle="tab" data-mdb-toggle="tab" href="#pic-3" role="tab"><img
                            src="assets/WEB/IMAGE/IMAGE WEB35.jpg" /></a></li>
                <li><a data-target="#pic-4" data-toggle="tab" data-mdb-toggle="tab" href="#pic-4" role="tab"><img
                            src="assets/WEB/IMAGE/IMAGE WEB30.jpg" /></a></li>
                <li><a data-target="#pic-5" data-toggle="tab" data-mdb-toggle="tab" href="#pic-5" role="tab"><img
                            src="assets/WEB/IMAGE/IMAGE WEB35.jpg" /></a></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
