<template>
    <div>
    <div></div>
        <ul class="nav nav-tabs p-0 border-top border-bottom" id="ex1" role="tablist">
            <li class="nav-item m-0" role="presentation">
                <a class="nav-link p-3 f-10 active" id="ex2-tab-1" data-mdb-toggle="tab" href="#ex2-tabs-1" role="tab"
                    aria-controls="ex2-tabs-1" aria-selected="true">Detail</a>
            </li>
            <li class="nav-item m-0" role="presentation">
                <a class="nav-link p-3 f-10" id="ex2-tab-2" data-mdb-toggle="tab" href="#ex2-tabs-2" role="tab"
                    aria-controls="ex2-tabs-2" aria-selected="false">Info Penting</a>
            </li>
        </ul>
        <div class="tab-content p-3" id="ex2-content">
            <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                <div class="f-11 text-dark">
                    <p class="m-0">Kondisi : <b>{{ getOneProduct.data.condition }}</b></p>
                    <p class="m-0">Berat : <b>{{ getOneProduct.data.weight }}</b></p>
                    <p class="m-0">Kategori : <a href="" class="text-link">{{ getOneProduct.data.category_id.name }}</a>
                    </p>
                    <p class="">Etalase : <a href="" class="text-link">Semua Etalase</a></p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo…
                    </p>
                    <p id="selengkapnya">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eius,
                        quia eum nihil similique aut officiis quis nostrum earum reprehenderit?
                        Exercitationem ipsa obcaecati velit nesciunt ducimus aspernatur
                        doloribus architecto quae?
                    </p>
                    <a href="" onclick="selengkapnya('selengkapnya')" id="btn-selengkapnya" class="text-link p-0">Lihat
                        Selengkapnya</a>
                    <a href="" onclick="selengkapnya('tutup')" id="btn-tutup" class="text-link p-0">Lihat Lebih
                        Sedikit</a>
                </div>
                <hr>
                <div class="d-flex justify-content-start">
                    <div>
                        <img src="assets/WEB/IMAGE/IMAGE WEB64.jpg" class="w-60 rounded-full rounded-border" alt="">
                    </div>
                    <div class="my-auto ml-3 w-100">
                        <div class="d-flex justify-content-between">
                            <div class="text-dark my-auto">
                                <img src="assets/WEB/ICON/ICON WEB17.svg" class="w-30" alt=""> <b
                                    class="ml-1">Store.id</b>
                                <p class="m-0 fc-text">Online 29 menit lalu</p>
                            </div>
                            <div>
                                <button class="btn btn-outline-success">
                                    Follow
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="d-flex f-10">
                                    <img src="assets/WEB/ICON/ICON WEB94.svg" class="w-15" alt="">
                                    <b class="text-dark ml-2">4.9</b> <span class="ml-2">rating..</span>
                                    <div class="bh-20"></div>
                                    <img src="assets/WEB/ICON/ICON WEB26.svg" class="w-15" alt="">
                                    <img src="assets/WEB/ICON/ICON WEB88.svg" class="ml-2 w-15" alt="">
                                    <b class="text-dark ml-2">20 jam</b> <span class="ml-2">pesanan..</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-dark">
                    <b>Pengiriman</b>
                    <p class="m-0">
                        <img src="assets/WEB/ICON/ICON WEB73.svg" class="w-15" alt="">
                        Dikirim dari <b>Kota Yogyakarta</b>
                    </p>
                    <p>
                        <img src="assets/WEB/ICON/ICON WEB95.svg" class="w-15" alt=""> Ongkir
                        multi <b>Rp 13.000</b>, tiba 6-10 hari ke <b>Kab. Tangerang</b>
                    </p>
                </div>
                <hr>
                <span class="badge badge-light text-link-primary">Bayar di Tempat</span>
                <a href="" class="text-link">Cek Semua Kurir</a>
                <hr>
                <div class="text-dark">
                    <b>Penawaran Lainnya</b>
                    <div class="d-flex">
                        <div>
                            <img src="assets/WEB/ICON/ICON WEB55.svg" class="w-30 mt-0" alt="">
                        </div>
                        <div class="ml-2">
                            <b>Harga Grosir</b><br>
                            <select name="" id="" class="select-none-border fc-text">
                                <option value="">Lebih mural, mulai dari Rp17.ooo min 20 pcs
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <a href="" class="fc-text">Ada masala dengan produk ini?</a>
                    <a href="" class="text-dark"><img src="assets/WEB/ICON/ICON WEB72.svg" class="w-15" alt="">
                        Laporkan</a>
                </div>
            </div>
            <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
                <div class="row ">
                    <div class="col-12">
                        <b class="text-dark">Kebijakan Pengembalian Produk</b>
                        <p class="f-10">
                            Syarat klaim garansi: barang harus dikembalikan beserta dus, kelengkapan produk, dan bukti
                            pembeliannya (print out history pembelian). Jika syarat tersebut sudah dilengkapi, lalu
                            kirim barang yang ingin diretur. Mohon untuk di chat dahulu.
                            <br>
                            Garansi tidak berlaku apabila: <br>
                            - Tidak di temukan adanya kerusakan <br>
                            - kerusakan disebabkan oleh faktor luar / di luar kuasa. <br>
                            - Kerusakan akibat dari kesalahan pemakaian (Terjatuh, tergores. ternoda, pecah, terkena air
                            dan lain - lain) <br>

                            Syarat klaim: <br>
                            a. Unit masih dalam masa garansi dan sesuai dengan kebijakan garansi yang telah ditetapkan
                            <br>
                            b. Kelengkapan dari unit harus disertai secara lengkap (dus, kabel charger, buku manual,
                            kartu garansi, dll) <br>
                            c. Dilengkapi dengan nota pembelian (PRINT OUT HISTORY PEMBELIAN YANG TERDAPAT NO. PESANAN)
                            dan informasi kerusakan unit. <br>
                            d. Apabila kaka sudah lakukan pengiriman barang garansinya ke kami, SEGERA Kirimkan bukti
                            foto RESI via chat. <br>
                            *Note : KAMI TIDAK AKAN PROSES APABILA TIDAK LENGKAP
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import store from "../../store";

export default {
   data(){
     return {}
   },
   mounted(){},
   computed:{
     getOneProduct(){
       const data = store.getters.getOneProduct;
    //    console.log(JSON.stringify(data));
       return data;
     }
   },
   methods: {}
}
</script>

<style>

</style>
