<template>
    <div>
        <div class="mt-4 d-flex justify-content-between">
            <span class="f-10">FOTO DARI PEMBELI (16)</span>
            <a href="" class="text-link">Lihat Semua</a>
        </div>
        <div class="">
            <div class="thumb-ulasan m-0">
                <picture class="sub-thumb">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="" alt="">
                </picture>

            </div>
            <div class="thumb-ulasan">
                <picture class="sub-thumb">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="" alt="">
                </picture>

            </div>
            <div class="thumb-ulasan">
                <picture class="sub-thumb">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="" alt="">
                </picture>

            </div>
            <div class="thumb-ulasan">
                <picture class="sub-thumb">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="" alt="">
                </picture>

            </div>
            <div class="thumb-ulasan">
                <picture class="sub-thumb">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="" alt="">
                </picture>

            </div>
            <div class="thumb-ulasan">
                <picture class="sub-thumb">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="" alt="">
                </picture>

            </div>
            <div class="thumb-ulasan">
                <picture class="sub-thumb">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="" alt="">
                </picture>

            </div>
            <div class="thumb-ulasan thumb-last m-0">
                <picture class="sub-thumb">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="" alt="">
                </picture>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
