<template>
    <div class="row">
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="" class="text-link">Home</a></li>
                <li class="breadcrumb-item"><a href="" class="text-link">Fashion Wanita</a></li>
                <li class="breadcrumb-item"><a href="" class="text-link">Tas Wanita</a></li>
                <li class="breadcrumb-item"><a href="" class="text-link">Tas Selempang Wanita</a></li>
                <li class="breadcrumb-item"><a href="">Tiffany Shoulderbag - Green</a></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
