<template>
    <div>
        <h5><b>ULASAN (66)</b></h5>
        <span class="f-11">Tiffany Shoulderbag - Green</span>
        <div class="d-flex">
            <div class="w-50">
                <div class="d-flex">
                    <div class="text-center">
                        <span class="display-4 font-weight-bolder">3.1</span><small>/5</small><br>
                        <div>
                            <object data="../assets/WEB/ICON/bintang.svg" class="w-20" type=""></object>
                            <object data="../assets/WEB/ICON/bintang.svg" class="w-20" type=""></object>
                            <object data="../assets/WEB/ICON/bintang.svg" class="w-20" type=""></object>
                            <object data="../assets/WEB/ICON/bintang.svg" class="w-20" type=""></object>
                            <object data="../assets/WEB/ICON/bintang.svg" class="w-20" type=""></object>
                        </div>
                        <small class="text-black-50">(100) Ulasan</small>
                    </div>
                    <div class="flex-grow-1 f-10">
                        <div class="row align-items-center">
                            <div class="col-4 text-right">
                                <object data="../assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                5
                            </div>
                            <div class="col-6">
                                <div class="progress rounded" style="height: 6px;">
                                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 75%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-2">
                                55
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-4 text-right">
                                <object data="../assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                4
                            </div>
                            <div class="col-6">
                                <div class="progress rounded" style="height: 6px;">
                                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 55%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-2">
                                50
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-4 text-right">
                                <object data="../assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                3
                            </div>
                            <div class="col-6">
                                <div class="progress rounded" style="height: 6px;">
                                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 45%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-2">
                                40
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-4 text-right">
                                <object data="../assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                2
                            </div>
                            <div class="col-6">
                                <div class="progress rounded" style="height: 6px;">
                                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 35%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-2">
                                30
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-4 text-right">
                                <object data="../assets/WEB/ICON/bintang.svg" class="w-15" type=""></object>
                                1
                            </div>
                            <div class="col-6">
                                <div class="progress rounded" style="height: 6px;">
                                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 25%"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-2">
                                20
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
