<template>
    <div class="col-md-3">
        <div class="sticky-detail">
            <div class="card border-0">
                <div class="shadows">
                    <div class="card-body">
                        <b>Atur jumlah dan catatan</b>
                        <br>
                        <div class="mt-2">
                            <a href="">
                                <img src="assets/WEB/ICON/ICON WEB98.svg" alt="" class="w-30">
                            </a>
                            <div class="div-input-stock">
                                <input type="text" class="input-stock" value="1">
                            </div>
                            <a href="">
                                <img src="assets/WEB/ICON/ICON WEB99.svg" class="w-30" alt="">
                            </a>
                            <span class="f-11">Stok <b>358</b></span>
                            <p class="fc-text f-10">Beli > 20, lebih hemat!</p>
                            <a href="" class="text-link"><img src="assets/WEB/ICON/ICON WEB90.svg" class="w-15"
                                    alt=""> Tambah Catatan</a>
                            <div class="d-flex justify-content-between mt-3 lh-30 f-11 fc-text">
                                <span>Subtotal</span>
                                <b class="f-14 text-dark">Rp430.000</b>
                            </div>
                            <button class="btn btn-success btn-block mt-2">
                                <span class="fa fa-plus"></span>Keranjang
                            </button>
                            <button class="btn btn-outline-success btn-block">
                                <span class="fa fa-plus"></span>Beli Langsung
                            </button>
                            <div class="d-flex mt-3 f-9 justify-content-between">
                                <a href="" class="fc-text"><span class="fa fa-comment"></span>
                                    <b>Chat</b></a>
                                <div class="bh-16"></div>
                                <a href="" class="fc-text"><span class="fa fa-heart"></span>
                                    <b>Wishlist</b></a>
                                <div class="bh-16"></div>
                                <a href="" class="fc-text"><span class="fa fa-share"></span>
                                    <b>Share</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
