<template>
    <div>
        <h4><b>Tiffany Shoulderbag - Green</b></h4>
        <div class="d-flex">
            <b>Terjual</b> <span class="ms-1"> 252</span> .
            <img src="assets/WEB/ICON/bintang.svg" class="w-15 ms-3"> <b class="ms-1">4.7</b> (66
            ulasan) .
            <b class="ms-3">Diskusi </b>(6)
        </div>
        <h3 class="lh-90"><b>Rp145.000</b></h3>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
