<template>
    <div>
        <h2 class="main-title">
            Beli Langsung
        </h2>
        <div class="card border-0">
            <div class="shadows">
                <div class="card-body">
                    <p class="m-0">
                        <img src="assets/WEB/ICON/ICON WEB127.svg" class="w-60" alt="">
                        <b>Baru!</b> Cara lain belanja untuk 1 barang dan bisa bayar lebih cepat. <a href=""
                            class="text-link">Yuk Mulai Coba!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
