<template>
    <div>
        <div class="mt-4">
            <b>Barang yang dibeli</b>
        </div>
        <div class="mt-3">
            <p class="m-0">
                <img src="assets/WEB/ICON/ICON WEB17.svg" style="width: 30px;" alt=""> <b class="ml-2">Store.id</b>
            </p>
            <small>Kota Yogyakarta</small>
            <div class="row mt-2">
                <div class="col-md-1 pe-0">
                    <img src="assets/WEB/IMAGE/IMAGE WEB71.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-11">
                    <b class="f-12">Tiffany Shoulderbag Green</b>
                    <br>
                    <b class="lh-25 f-11">Rp145.000</b>
                    <br>
                    <div class="mt-2">
                        <div>
                            <a href="" class="text-link pt-3 pb-3 pe-4 ps-0 me-3 border-right f-11">Tulis catatan untuk
                                barang ini</a>
                            <a href="">
                                <img src="assets/WEB/ICON/ICON WEB98.svg" alt="" class="w-30">
                            </a>
                            <div class="div-input-stock">
                                <input type="text" class="input-stock" value="1">
                            </div>
                            <a href="">
                                <img src="assets/WEB/ICON/ICON WEB99.svg" class="w-30" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
