<template>
    <div>
        <div class="mt-4">
            <b>Pengiriman dan pembayaran</b>
        </div>
        <div class="card mt-2 border-0">
            <div class="shadows">
                <div class="p-3">
                    <b class="f-11">Pilihan 1</b>
                    <span class="badge bg-grey">Utama</span>
                    <a href="">
                        <img src="assets/WEB/ICON/ICON WEB103.svg" class="w-30 float-end" alt="">
                    </a>
                </div>
                <hr class="m-0">
                <div class="p-3">
                    <div class="">
                        <b class="f-11">Rumah</b> - Lidya Lionel (62812345678901) <br>
                        <small class="fc-text">Jalan Sudirman XXI Blok AJ08 No.20 Kelurahan Singosari Banten, Kab.
                            Tangerang, Kelapa Dua 15810</small>
                    </div>
                    <div class="mt-2">
                        <b class="f-11">Pengiriman Reguler</b><br>
                        <small class="fc-text">Durasi 2-4 hai - TIKI</small> <br>
                        <select name="" class="select-none-border" id="">
                            <option value="">Rp16.000</option>
                        </select>
                    </div>
                    <div class="d-flex mt-3">
                        <img src="assets/WEB/ICON/ICON WEB43.svg" class="w-60" alt="">
                        <div class="my-auto">
                            <b>OVO</b><br>
                            <small class="fc-text">Rp250.000</small>
                        </div>
                    </div>
                </div>
                <hr class="m-0">
                <div class="d-flex justify-content-end">
                    <a href="" class="text-link p-3">Ganti Pilihan Lain</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
