<template>
    <div class="col-md-4">
        <div class="card border-0">
            <div class="shadows">
                <div class="card-body">
                    <button class="btn-white w-100 d-flex justify-content-between">
                        <img src="assets/WEB/ICON/ICON WEB41.svg" class="w-30" alt="">
                        <b>Makin hemat pakai promo</b>
                        <img src="assets/WEB/ICON/ICON WEB14.svg" class="w-30" alt="">
                    </button>

                    <div class="mt-3">
                        <b>Ringkasan belanja</b>
                        <div class="d-flex justify-content-between lh-30 f-11 fc-text">
                            <span>Total Harga (1 barang)</span>
                            <span>Rp145.000</span>
                        </div>
                        <div class="d-flex justify-content-between lh-30 f-11 fc-text">
                            <span>Total Ongos Kirim</span>
                            <span>Rp16.000</span>
                        </div>
                        <div class="d-flex justify-content-between lh-30 f-11 fc-text">
                            <span>Asuransi Pengiriman</span>
                            <span>Rp200</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <b>Total Tagihan</b>
                            <b class="fc-orange f-14">Rp161.200</b>
                        </div>
                        <hr>
                        <button class="btn btn-success p-3 btn-block f-12">
                            Pilih Pembayaran
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
