<template>
    <div class="col-md-9">
        <div class="d-flex">
            <b class="text-dark ml-2">Ulasan</b>
        </div>
        <div class="card mt-2">
            <div class="tabbable">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs mb-3" id="tab-scroll" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-transaksi" data-mdb-toggle="tab"
                            href="#tab-transaksi-content" role="tab">Menunggu Diulas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-update" data-mdb-toggle="tab" href="#tab-update-content"
                            role="tab">Ulasan Saya</a>
                    </li>
                </ul>
                <!-- Tabs navs -->
            </div>

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="tab-transaksi-content" role="tabpanel">
                    <div class="card-body">
                        <div class="d-flex f-11">
                            <a href="ulasan.html" class="text-success"><i class="fa fa-arrow-left"></i> Kembali</a>
                        </div>

                        <div class="mt-3">
                            <div class="card rounded-0">
                                <div class="card-header bg-light">
                                    <div class="d-flex justify-content-between f-10">
                                        Penjual: <a href="" class="text-success">Grosir ATK Jakarta</a>
                                        <span class="fc-text">Pesanan diterima: 22 Mei 2021, 10:45</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" v-for="(item, index) in getUlasan.data.order_details" :key="index">
                                          
                                            <div class="p-2">
                                                <form action="" class="">
                                                    <div class="w-100">
                                                        <div class="d-flex mt-2 align-items-start">
                                                            <img :src="item.product_image"
                                                                class="w-80-px rounded" alt="">
                                                            <div class="ml-2 w-75">
                                                                <a href=""
                                                                    class="fw-bold text-dark ellipsis-2-line f-10">{{item.product_name}}</a>
                                                                <small class="f-8">Bagaimana kualitas produk ini secara
                                                                    keseluruhan?</small>
                                                                <br>
                                                                <div class="d-flex el-rating">
                                                                    <div
                                                                        class="starrating risingstar float-left d-flex flex-row-reverse ml-2">
                                                                        <input type="radio" id="star5_2" name="rating_1"
                                                                            value="5" /><label class="rating-5"
                                                                            for="star5_2" title="5 star"><i
                                                                                class="fa fa-star"></i></label>
                                                                        <input type="radio" id="star4_2" name="rating_1"
                                                                            value="4" /><label class="rating-4"
                                                                            for="star4_2" title="4 star"><i
                                                                                class="fa fa-star"></i></label>
                                                                        <input type="radio" id="star3_2" name="rating_1"
                                                                            value="3" /><label class="rating-3"
                                                                            for="star3_2" title="3 star"><i
                                                                                class="fa fa-star"></i></label>
                                                                        <input type="radio" id="star2_2" name="rating_1"
                                                                            value="2" /><label class="rating-2"
                                                                            for="star2_2" title="2 star"><i
                                                                                class="fa fa-star"></i></label>
                                                                        <input type="radio" id="star1_2" name="rating_1"
                                                                            value="1" /><label class="rating-1"
                                                                            for="star1_2" title="1 star"><i
                                                                                class="fa fa-star"></i></label>
                                                                    </div>
                                                                    <div class="">
                                                                        <span class="rating-text f-10 ml-3">Baik</span>
                                                                    </div>
                                                                </div>
                                                                <div class="mt-3 f-10">
                                                                    <span class="fc-text">Berikan ulasan untuk produk
                                                                        ini</span>
                                                                    <textarea name="" class="form-control mt-2 f-10"
                                                                        id="" rows="3"
                                                                        placeholder="Tulis deskripsi Anda mengenai produk ini..."></textarea>
                                                                </div>
                                                                <div class="mt-3 f-10">
                                                                    <span class="fc-text">Bagikan foto-foto dari produk
                                                                        yang Anda terima</span>
                                                                    <div>
                                                                        <label
                                                                            class="btn-white pointer pt-3 pb-3 pl-4 pr-4 mt-1 f-14"
                                                                            for="browse"><i
                                                                                class="fa fa-upload"></i></label>
                                                                        <input type="file" id="browse" name="browse"
                                                                            style="display: none">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="d-flex mt-3 justify-content-end f-10">
                                                            <a href=""
                                                                class="btn-white pt-2 pb-2 pl-4 pr-4 fw-bold rounded-10">Batal</a>
                                                            <a href=""
                                                                class="btn-success pt-2 pb-2 pl-4 pr-4 ml-2 rounded-10">Kirim</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-update-content" role="tabpanel">
                    <div class="card-body">
                        <div class="d-flex f-11">
                            <a href="ulasan.html" class="text-success"><i class="fa fa-arrow-left"></i> Kembali</a>
                        </div>
                        <div>
                            <div class="mt-3">
                                <div class="card rounded-0">
                                    <div class="card-header bg-light">
                                        <div class="d-flex justify-content-between f-10">
                                            Penjual: <a href="" class="text-success">Grosir ATK Jakarta</a>
                                            <span class="fc-text">Pesanan diterima: 22 Mei 2021, 10:45</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="p-2">
                                                    <form action="" class="">
                                                        <div class="w-100">
                                                            <div class="d-flex mt-2 align-items-start">
                                                                <img src="assets/WEB/IMAGE/IMAGE WEB28.jpg"
                                                                    class="w-80-px rounded" alt="">
                                                                <div class="ml-2 w-75">
                                                                    <a href=""
                                                                        class="fw-bold text-dark ellipsis-2-line f-10">Box
                                                                        Givi untuk motor dan sepeda matic</a>
                                                                    <small class="f-8">Bagaimana kualitas produk ini
                                                                        secara keseluruhan?</small>
                                                                    <br>
                                                                    <div class="d-flex el-rating">
                                                                        <div
                                                                            class="starrating risingstar float-left d-flex flex-row-reverse ml-2">
                                                                            <input type="radio" id="star5_1"
                                                                                name="rating" value="5" /><label
                                                                                class="rating-5" for="star5_1"
                                                                                title="5 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                            <input type="radio" id="star4_1"
                                                                                name="rating" value="4" /><label
                                                                                class="rating-4" for="star4_1"
                                                                                title="4 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                            <input type="radio" id="star3_1"
                                                                                name="rating" value="3" /><label
                                                                                class="rating-3" for="star3_1"
                                                                                title="3 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                            <input type="radio" id="star2_1"
                                                                                name="rating" value="2" /><label
                                                                                class="rating-2" for="star2_1"
                                                                                title="2 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                            <input type="radio" id="star1_1"
                                                                                name="rating" value="1" /><label
                                                                                class="rating-1" for="star1_1"
                                                                                title="1 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                        </div>
                                                                        <div class="">
                                                                            <span
                                                                                class="rating-text f-10 ml-3">Baik</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 f-10">
                                                                        <span class="fc-text">Berikan ulasan untuk
                                                                            produk ini</span>
                                                                        <textarea name="" class="form-control mt-2 f-10"
                                                                            id="" rows="3"
                                                                            placeholder="Tulis deskripsi Anda mengenai produk ini..."></textarea>
                                                                    </div>
                                                                    <div class="mt-3 f-10">
                                                                        <span class="fc-text">Bagikan foto-foto dari
                                                                            produk yang Anda terima</span><br>
                                                                        <div>
                                                                            <label
                                                                                class="btn-white pointer pt-3 pb-3 pl-4 pr-4 mt-1 f-14"
                                                                                for="browse"><i
                                                                                    class="fa fa-upload"></i></label>
                                                                            <input type="file" id="browse" name="browse"
                                                                                style="display: none">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="d-flex mt-3 justify-content-end f-10">
                                                                <a href=""
                                                                    class="btn-white pt-2 pb-2 pl-4 pr-4 fw-bold rounded-10">Batal</a>
                                                                <a href=""
                                                                    class="btn-success pt-2 pb-2 pl-4 pr-4 ml-2 rounded-10">Kirim</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="p-2">
                                                    <form action="" class="">
                                                        <div class="w-100">
                                                            <div class="d-flex mt-2 align-items-start">
                                                                <img src="assets/WEB/IMAGE/IMAGE WEB28.jpg"
                                                                    class="w-80-px rounded" alt="">
                                                                <div class="ml-2 w-75">
                                                                    <a href=""
                                                                        class="fw-bold text-dark ellipsis-2-line f-10">Box
                                                                        Givi untuk motor dan sepeda matic</a>
                                                                    <small class="f-8">Bagaimana kualitas produk ini
                                                                        secara keseluruhan?</small>
                                                                    <br>
                                                                    <div class="d-flex el-rating">
                                                                        <div
                                                                            class="starrating risingstar float-left d-flex flex-row-reverse ml-2">
                                                                            <input type="radio" id="star5_2"
                                                                                name="rating_1" value="5" /><label
                                                                                class="rating-5" for="star5_2"
                                                                                title="5 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                            <input type="radio" id="star4_2"
                                                                                name="rating_1" value="4" /><label
                                                                                class="rating-4" for="star4_2"
                                                                                title="4 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                            <input type="radio" id="star3_2"
                                                                                name="rating_1" value="3" /><label
                                                                                class="rating-3" for="star3_2"
                                                                                title="3 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                            <input type="radio" id="star2_2"
                                                                                name="rating_1" value="2" /><label
                                                                                class="rating-2" for="star2_2"
                                                                                title="2 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                            <input type="radio" id="star1_2"
                                                                                name="rating_1" value="1" /><label
                                                                                class="rating-1" for="star1_2"
                                                                                title="1 star"><i
                                                                                    class="fa fa-star"></i></label>
                                                                        </div>
                                                                        <div class="">
                                                                            <span
                                                                                class="rating-text f-10 ml-3">Baik</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3 f-10">
                                                                        <span class="fc-text">Berikan ulasan untuk
                                                                            produk ini</span>
                                                                        <textarea name="" class="form-control mt-2 f-10"
                                                                            id="" rows="3"
                                                                            placeholder="Tulis deskripsi Anda mengenai produk ini..."></textarea>
                                                                    </div>
                                                                    <div class="mt-3 f-10">
                                                                        <span class="fc-text">Bagikan foto-foto dari
                                                                            produk yang Anda terima</span>
                                                                        <div>
                                                                            <label
                                                                                class="btn-white pointer pt-3 pb-3 pl-4 pr-4 mt-1 f-14"
                                                                                for="browse"><i
                                                                                    class="fa fa-upload"></i></label>
                                                                            <input type="file" id="browse" name="browse"
                                                                                style="display: none">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="d-flex mt-3 justify-content-end f-10">
                                                                <a href=""
                                                                    class="btn-white pt-2 pb-2 pl-4 pr-4 fw-bold rounded-10">Batal</a>
                                                                <a href=""
                                                                    class="btn-success pt-2 pb-2 pl-4 pr-4 ml-2 rounded-10">Kirim</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->
        </div>
    </div>
</template>

<script>
import store from "../../store";

export default {
    computed:{
    getUlasan(){
      const data = store.getters.ulasanDetail;
       console.log(JSON.stringify(data));
      return data;
    },
  }
}
</script>

<style>

</style>
