<template>
    <div>
        <div class="mt-4 text-center">
            <a href="">
                <h3 class="text-success"><b>Onlinemol</b></h3>
            </a>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-5 m-auto align-items-center">
                    <div class="card mt-auto">
                        <div class="shadows">
                            <div class="card-body pl-5 pr-5">
                                <div class="d-flex justify-content-between">
                                    <h5><b>Masuk</b></h5>
                                    <a href="" class="text-success f-10">Daftar</a>
                                </div>
                                <div class="mt-4">
                                    <form action="">
                                        <div class="form-group">
                                            <label class="m-0 f-10" for="">Nomor Ponsel atau Email</label>
                                            <input type="text" class="form-control f-10 lh-2" placeholder="" id=""
                                                aria-describedby="emailHelp">
                                            <small>Contoh: email@onlinemol.com</small>
                                        </div>
                                        <div class="form-group">
                                            <label class="m-0 f-10" for="">Password</label>
                                            <input type="password" class="form-control f-10 lh-2" placeholder="" id="">
                                        </div>
                                        <div class="text-right">
                                            <a href="" class="text-success f-10">Lupa kata sandi?</a>
                                        </div>
                                        <button class="btn btn-success btn-block f-10 p-2 mt-1">Masuk</button>
                                    </form>
                                </div>
                                <div class="line-register mt-3 f-10 fc-text">
                                    atau masuk dengan
                                </div>
                                <div class="mt-3">
                                    <button class="btn-white p-1 h-40 rounded-10 btn-block"><img
                                            src="assets/WEB/ICON/ICON WEB84.svg" class="w-32" alt="">
                                        Facebook</button>
                                    <button class="btn-white p-1 h-40 rounded-10 btn-block mt-2"><img
                                            src="assets/WEB/ICON/ICON WEB129.svg" class="w-30" alt="">
                                        Google</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="assets/WEB/ICON/ICON WEB134.svg" class="w-25" alt=""
                        style="position: absolute; z-index:-1; left:140px; top:280px;">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
