<template>
    <!-- ITEM -->
    <div>
     <div class="row mt-4">
        <div class="col-12">
          <h4 class="main-title">
            Terlaris untukmu
            <a href="javascript:void(0)" v-on:click="getRekomendasi2" class="ml-4 text-link">Lihat Semua</a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-2" v-for="(item, index) in getProduct.data" :key="index">
          <a href="javascript:void(0)" @click="toProductDetail(item.name)">
            <div class="h-100">
              <div class="rounded-10 item-product shadows">
                <div class="item-img">
                  <img :src="item.image" alt="" />
                </div>
                <div class="p-2 item-desc">
                  <p>{{item.name}}</p>
                  <div class="item-badge">
                    <span class="success">Cashback</span>
                  </div>
                  <div class="item-price">
                    <b>Rp {{ multiplePricing(item.variasi, item.sizes, item.price, item.discount)}}</b>
                  </div>
                  <div class="item-rating">
                    <object
                      data="assets/WEB/ICON/ICON WEB09.svg"
                      type=""
                    ></object>
                    <object
                      data="assets/WEB/ICON/ICON WEB09.svg"
                      type=""
                    ></object>
                    <object
                      data="assets/WEB/ICON/ICON WEB09.svg"
                      type=""
                    ></object>
                    <object
                      data="assets/WEB/ICON/ICON WEB09.svg"
                      type=""
                    ></object>
                    <object
                      data="assets/WEB/ICON/ICON WEB09.svg"
                      type=""
                    ></object>
                    <small>(1120)</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
      <!-- END ITEM -->
</template>

<script>
import store from "../../store";
import { multiplePricing, urlSlug } from "../../utils/helper";

export default {
   mounted(){},
   computed:{
     getProduct(){
       const data = store.getters.bestSellerList;
       return data;
     }
   },
    methods: {
     multiplePricing,
     urlSlug,
     getRekomendasi2(){
         store.dispatch({
          type: actions.REKOMENDASI_LIST,
          param: `page=${this.page}&limit=6&sortBy=desc`,
        });
     },
     toProductDetail(name){
       this.$router.push({
        path: `/${this.urlSlug(name)}`,
      });
     }
   }
}
</script>

<style>

</style>