<template>
  <div>
   
      <div class="row mt-4">
        <div class="col-12">
          <h4 class="main-title">
            Lagi trending, nih!
            <a href="javascript:void(0)" v-on:click="getRekomendasi2" class="ml-4 text-link reload-link">
              <div class="d-flex">
                <div
                  style="
                    background: url('assets/WEB/ICON/ICON WEB10.svg') center
                      center / contain no-repeat;
                    width: 24px;
                    height: 24px;
                  "
                ></div>
                Must Lainnya
              </div>
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mt-3" v-for="(item, index) in getTrendingProduct.data" :key="index">
          <div class="shadows rounded">
               <a href="javascript:void(0)" @click="toProductDetail(item.name)">
              <div class="row">
                <div class="col-4">
                  <img :src="item.image" class="img-fluid" alt="" />
                </div>
                <div class="col-8 col-md-8 d-flex align-items-center text-dark">
                  <div class="pt-2 pb-2">
                    <b class="f-11">{{ item.name }}</b><br />
                    <span class="f-10">53Rb Produk</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
  </div>    
</template>

<script>
import store from "../../store";
import { urlSlug } from "../../utils/helper";

export default {

   mounted(){},
   computed:{
     getTrendingProduct(){
       const data = store.getters.trendingProductList;
       return data;
     }
   },
     methods: {
     urlSlug,
     getRekomendasi2(){
         store.dispatch({
          type: actions.REKOMENDASI_LIST,
          param: `page=${this.page}&limit=6&sortBy=desc`,
        });
     },
     toProductDetail(name){
       this.$router.push({
        path: `/${this.urlSlug(name)}`,
      });
     }
   }
}
</script>

<style>

</style>