<template>
    <div class="col-md-9">
        <div class="card mt-2"  v-for="(item, index) in getTransaksi.data" :key="index">
            <div class="card-body p-3">
                <div class="align-items-center d-flex justify-content-between">
                    <b class="text-darkf-13 f-11">Menunggu Pembayaran  {{item.payment_status}}</b>
                    <div class="f-11">
                        <b>Menunjukkan (1-1)</b>
                        <a href=""><b>Sebelumnya</b></a>
                        <a href=""><b>Selanjutnya</b></a>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="shadows">
                        <div class="card-body">
                            <div class="d-flex">
                                <img src="assets/WEB/ICON/ICON WEB11.svg" class="w-40 mr-1" alt="">
                                <div class="ml-3">
                                    <div>
                                        <b>Belanja</b>
                                        <a href="" class="pl-2 border-left text-success">Invoice </a>
                                    </div>
                                    <div class="f-11">
                                        <span class="fc-text">Total: </span> <b class="fc-orange">Rp {{ item.grand_total}}</b>
                                        <span class="fc-text">Tanggal Pembelian </span><b>31 May 2021</b>
                                    </div>
                                    <div
                                        class="pl-3 pr-3 pt-2 pb-2 rounded-10 bg-grey f-10 mt-2 fc-text d-flex align-content-center">
                                        <img src="assets/WEB/ICON/ICON WEB82.svg" class="w-20 mr-2" alt=""> Bayar
                                        sebelum 1 June 2021, 10:20 WIB
                                    </div>
                                    <div class="f-11 mt-2 fc-text">
                                        <table>
                                            <tr>
                                                <td>Metode Pembayaran</td>
                                                <td>:</td>
                                                <td><b>{{item.payment_method}}</b></td>
                                            </tr>
                                            <tr>
                                                <td>Nomor Virtual Account</td>
                                                <td>:</td>
                                                <td><b>87576476426366747</b></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="ml-auto flex-fill pl-5">
                                    <div class="text-right">
                                        <a href="" class="text-success">Batalkan Transaksi</a>
                                    </div>
                                    <div class="text-center mt-3">
                                        <img src="assets/WEB/ICON/ICON WEB43.svg" class="w-25" alt="">
                                    </div>
                                    <button class="btn-white btn-block mt-3 p-2" onclick="detailPembayaran()">Cara
                                        Pembayaran</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import store from "../../store";
// import { multiplePricing } from "../../utils/helper";

export default {
   mounted(){},
   computed:{
     getTransaksi(){
       const data = store.getters.transaksiList;
       return data;
     }
   },
//    methods: {
//      multiplePricing,
//    }
}
</script>

<style>

</style>
