@font-face {
    font-family: 'Muli';
    src: url('../../assets/fonts/Muli-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    /* font-family: 'Font Awesome 5 Free'; */
    src: url('../plugins/@fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf') format('truetype')
}

/* @font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url('../../assets/plugins/@fortawesome/fontawesome-free/webfonts/fa-regular-400.eot');
    src: url('../../assets/plugins/@fortawesome/fontawesome-free/webfonts/fa-regular-400.eot?#iefix') format("embedded-opentype"), url('../../assets/plugins/@fortawesome/fontawesome-free/webfonts/fa-regular-400.woff2') format("woff2"), url('../../assets/plugins/@fortawesome/fontawesome-free/webfonts/fa-regular-400.woff') format("woff"), url('../../assets/plugins/@fortawesome/fontawesome-free/webfonts/fa-regular-400.ttf') format("truetype"), url('../../assets/plugins/@fortawesome/fontawesome-free/webfonts/fa-regular-400.svg#fontawesome') format("svg")
} */

body {
    font-family: 'Muli';
    color: #000;
}

.container {
    max-width: 1188px;
}

/* NAVBAR */
#main-slider {
    position: relative;
    display: block;
    width: 100%;
    margin: 130px auto 0 auto;
}

.body-slider {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px 0px 20px;
    transition: background 0.5s ease 0s;
    /* background-color: #d9d9d9; */
}

#sliders {
    padding-left: calc(((100% - 1208px) - 16px) / 2);
    padding-right: calc(((100% - 1208px) - 16px) / 2);
}


.carousel-item {
    -webkit-box-pack: center;
    justify-content: center;
    padding: 24px 0px;
}

.carousel-indicators [data-mdb-target] {
    width: 8px;
    height: 8px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-radius: 8px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 22px;
    left: 0;
    margin-right: 0;
    margin-left: 7%;
    list-style: none;
    justify-content: left;
}

.owl-carousel .nav-button {
    height: 32px;
    width: 32px;
    padding: 4px;
    cursor: pointer;
    box-shadow: 0 0 1px #000;
    position: absolute;
    top: 8px !important;
    /* display: none; */
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

.owl-carousel .owl-prev {
    left: -35px;
}

.owl-carousel .owl-next {
    right: -35px;
}

.owl-theme .owl-nav [class*=owl-] {
    /* color: #ffffff; */
    background: #fff;
    border-radius: 20px;
}

.owl-stage-outer:hover .owl-nav {
    display: flex;
}

.owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
}

.slider {
    width: 100%;
    margin: auto;
}

.slick-slide {
    margin: 0px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    font-size: 35px;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#main-slider:hover .slick-prev:before,
#main-slider:hover .slick-next:before {
    visibility: visible;
    opacity: 1;
}

.slick-prev {
    left: 20px;
    z-index: 2;
}

.slick-next {
    right: 35px;
}

#owl-two .nav-button {
    top: 16px !important;
}

.owl-carousel .owl-nav.disabled {
    display: block !important;
}

#owl-wish .nav-button {
    top: 64px !important;
}

/* Element Small */
.thumb-90 {
    height: 90px;
    max-height: 140px;
    overflow: hidden;
}
.ellipsis-350{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 350px;
}
.ellipsis-200{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}
.ellipsis-80{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80px;
}
.chat-desc{
    width: 154px;
}
.parent-ellipsis{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}
.ellipsis{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ellipsis-2-line{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-size: 0.857143rem;
    line-height: 1.5;
    position: relative;
    color: rgb(66, 181, 73);
}
.text-grey{
    color:#8d8d8d;
}
.bg-grey-label{
    background-color: rgb(153,153,153);
}
.bg-green-label{
    background-color: #468847;
}

.f-7 {
    font-size: 7pt !important;
}

.f-8 {
    font-size: 8pt !important;
}
.f-9 {
    font-size: 9pt !important;
}

.f-10 {
    font-size: 10pt !important;
}

.f-11 {
    font-size: 11pt;
}

.f-12 {
    font-size: 12pt;
}

.f-13 {
    font-size: 13pt;
}

.f-14 {
    font-size: 14pt;
}
.f-16 {
    font-size: 16pt;
}
.f-18 {
    font-size: 18pt;
}
.f-22 {
    font-size: 22pt;
}
.f-25 {
    font-size: 25pt;
}

.p-14 {
    padding: 14px !important;
}

.ml-2 {
    margin-left: 0.5em;
}

.ml-3 {
    margin-left: 1.5em;
}

.p-btn {
    padding: 14px 38px;
}

.lh-2{
    line-height: 2!important;
}
.lh-32{
    line-height: 32px;
}

.lh-43 {
    line-height: 43px;
}

.h-500{
    height: 500px;
}

.h-300{
    height: 300px;
}
.h-350{
    height: 350px;
}
.h-150{
    height: 150px;
}

.fc-text {
    color: #7e7e7e !important;
}
.fw-bold{
    font-weight: bold;
}

.fc-price {
    font-weight: 600;
}

.border-right {
    border-right: 1px solid #f1f1f1;
}

.lh-25 {
    line-height: 25px;
}

.lh-30 {
    line-height: 30px;
}

.lh-90 {
    line-height: 90px;
}

.w-10 {
    width: 10px;
}

.w-15 {
    width: 15px !important;
}

.w-30 {
    width: 23px !important;
}
.w-32{
    width: 32px;
}

.w-35 {
    width: 35px !important;
}

.w-20 {
    width: 20px !important;
}

.w-100-px {
    width: 100px!important;
}
.w-80-px {
    width: 80px!important;
}
.w-60 {
    width: 60px!important;
}
.w-40{
    width: 40px!important;
}
.h-40{
    height: 40px!important;
}
.h-60{
    height: 60px!important;
}
.w-20-persen{
    width: 20%!important;
}

.h-35 {
    height: 35px;
}
.list-style-none{
    list-style: none;
}

.bg-grey {
    background: #dcdcdc;
    color: #000;
}

.fc-orange {
    color: #EF3719;
}

.f-normal {
    font-weight: normal !important;
}

.bl-5 {
    height: 5px;
    width: 100%;
    background-color: rgb(243, 244, 245);
    margin-top: 16px;
    margin-bottom: 16px;
}

.bh-16 {
    content: "";
    width: 1px;
    height: 16px;
    background: rgb(196, 196, 196);
}

.bh-20 {
    border: 1px solid rgb(191, 201, 217);
    width: 1px;
    background-color: rgb(191, 201, 217);
    margin: 0px 16px;
    height: 25px;
}
.uppercase{
    text-transform: uppercase;
}
.fw-600{
    font-weight: 600;
}
.w-max {
    width: max-content;
}
.w-400-px{
    width: 400px;
}
.w-200-px{
    width: 200px;
}
.w-300-px{
    width: 300px;
}
.border-dash-bottom{
    width: 100%;
    border-bottom-style: dotted;
    border-color: #f1f1f1;
}


/* PARENT */
.dot-red{
    width: 8px;
    height: 8px;
    background-color: #D00A1A;
    border-radius: 50px;
}
.icon-notification{
    position: absolute;
    top:0;
    right:-4px;
    padding: 0px 4.5px;
    background-color: #D00A1A;
    color:#fff;
    border-radius: 50px;
    font-size: 7pt;
    z-index: 10;
}
.icon-notification-sub{
    position: absolute;
    top:12px;
    right:12px;
    padding: 0px 4.5px;
    background-color: #D00A1A;
    color:#fff;
    border-radius: 50px;
    font-size: 7pt;
}
.dropdown-custom{
    position: relative; 
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}
.dropdown-custom:hover{
    background-color: #f1f1f1;
}
.dropdown-custom:hover .content-dropdown-custom{
    display: block;
}
.dropdown-custom:hover .content-dropdown-custom-right{
    display: block;
}

.btn-dropdown-custom{
    padding:8px;
    color: #707070;
}
.bg-content-dropdown{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed;
    display: none;
    inset: 110px 0px 0px;
    z-index: 10;
    will-change: opacity;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 200ms ease 0ms;
}
.content-dropdown-custom{
    cursor: default;
    display: none;
    position: absolute;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top:30px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 99;
    border-radius: 0 0 12px 12px;
    -webkit-transition: all .3s .1s;
    -moz-transition: all .3s .1s;
    -o-transition: all .3s .1s;
    transition: all .1s;
}
.content-dropdown-custom-right{
    cursor: default;
    display: none;
    position: absolute;
    right: auto;
    left: -62%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top:30px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 99;
    border-radius: 0 0 12px 12px;
    -webkit-transition: all .3s .1s;
    -moz-transition: all .3s .1s;
    -o-transition: all .3s .1s;
    transition: all .1s;
}

.content-dropdown-custom a.drop-link{
    padding:4px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 6px;
    color: #000;
}
.content-dropdown-custom a.drop-link:hover{
    background-color: #f1f1f1;
    color: #000;
    border-radius: 4px;
}
.line-register{
    text-align: center;
    display: flex;
    white-space: nowrap;    
}
.line-register::after{
    content: '';
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    border-bottom: 1px solid
    rgba(0,0,0,0.12);
    margin: auto 0 auto 18px;
    padding-right: 10px;
}
.line-register::before{
    content: '';
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    border-bottom: 1px solid
    rgba(0,0,0,0.12);
    margin: auto 18px auto 0;
    padding-right: 10px;
}
.btn-primary{
    background-color: #00b74a!important;
}
.daterangepicker td.active, .daterangepicker td.active:hover{
    border-radius: 40px!important;
    padding: 4px;
    background-color: #00b74a!important;
}

.chat-right-product{
    background-color: #fff;
    border-radius: 14px 0px 14px 14px;
    box-shadow: rgb(0 0 0 / 12%) 0px 0px 6px 0px;
    margin-right: 16px;
}
.chat-list{
    padding: 8px 16px;
    max-width: 70%;
}
.chat-right{
    background-color: #f1f1f1;
    border-radius: 20px 0px 20px 20px;
    display: inline-block;
    margin-right: 16px;
}
.chat-left{
    background-color: #fff;
    border:1px solid #f1f1f1;
    border-radius: 0px 20px 20px 20px;
    display: inline-block;
    margin-left: 16px;
}

.scroll-custom{
    overflow-y: scroll;
}
.scroll-custom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(141, 141, 141, 0);
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll-custom::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.scroll-custom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(157, 157, 157, 0.3);
	background-color: #cecece;
}
.list-chat{
    padding: 8px;
    border-radius: 16px;
    margin-top: 4px;
    cursor: pointer;
}
.list-chat.active{
    background-color: #f1f1f1;
}
.list-chat:hover{
    background-color: #f1f1f1;
}
.content-list-chat{
    overflow-y: scroll;
}
.bg-active-update{
    background-color: #e9e9e9;
}
.pointer{
    cursor: pointer;
}
.tab-label{
    border: 1px solid #03AC0E;
    background-color: #fff;
    border-radius: 16px;
    color: #03AC0E;
}
.tab-label.active{
    background-color: #7de69269;
    color: #3CBE55;
    border:0;
}
.btn-next,
.btn-prev {
    border: 0;
    border-radius: 30px;
    padding: 8px 13px;
    position: absolute;
    z-index: 10;
    top: 50%;
}

.btn-next {
    right: 10%;

}

.btn-prev {
    left: 10%;
}

.nav-tabs .nav-link:hover {
    background-color: transparent !important;
}

.nav-scroll {
    display: none;
    /* transform: translateY(60px); */
    opacity: 1;
    height: 44px;
    /* overflow: hidden; */
    width: 100%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    /* transition: all 0.3s ease-in 0s; */
    box-shadow: rgb(49 53 59 / 12%) 0px 2px 2px 0px;
    position: fixed;
    top: 124px;
}

.title-navbar-scroll {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 348px;
    min-width: 348px;
    font-weight: 800;
    font-size: 10pt;
    line-height: 18px;
}

.title-navbar-scroll span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(49, 53, 59, 0.96);
}

.preview-thumbnail.nav-tabs li a.active {
    border: 2px solid #00b74a;
    border-radius: 4px;
    padding: 3px !important;
}

.preview-thumbnail-detail.nav-tabs a.active {
    border: 2px solid #00b74a;
    border-radius: 4px;
    padding: 3px !important;
}

.preview-thumbnail-ulasan.nav-tabs a.active {
    border: 2px solid #00b74a;
    border-radius: 4px;
    padding: 3px !important;
}

.thumb-ulasan {
    position: relative;
    display: inline-block;
    width: 94px;
    height: 94px;
    margin: 0px 0px 0px 11px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    overflow: hidden;
}

.thumb-ulasan .sub-thumb {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    display: flex;
    background-image: none;
}

.thumb-last::after {
    content: "+8";
    position: absolute;
    inset: 0px;
    display: inline-block;
    width: 98px;
    height: 98px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    line-height: 98px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.icon-wish {
    position: absolute;
    display: flex;
    border: 1px solid #d9d9d9;
    background-color: #ebebeb;
    border-radius: 30px;
    width: 28px;
    height: 28px;
    right: 0;
    z-index: 1;
    margin: 4px;
}

.btn-icon {
    color: rgba(49, 53, 59, 0.68);
    font-size: 0.857143rem;
    height: 32px;
    line-height: 18px;
    width: auto;
    border-radius: 8px;
    font-weight: 700;
    outline: none;
    padding: 0px 10px;
    transition: background 0.8s ease 0s;
    cursor: pointer;
    display: inline-block;
    background: radial-gradient(circle, transparent 1%, transparent 1%) center center / 15000% transparent;
    border: 1px solid rgb(229, 231, 233);
    text-indent: initial;
    position: relative;
    min-width: 56px;
    margin-right: 12px;
}

.btn-icon:hover {
    background: #fff;
    color: #3CBE55;
    border: 1px solid #3CBE55;
}

.btn-orange {
    background: #FA591D;
    color: rgb(255, 255, 255);
    border: 1px solid #FA591D;
    border-radius: 4px;
    padding: .625rem 1.5rem .5rem;
    font-weight: bold;
}

.btn-white {
    background: #fff;
    color: #000;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    /* padding: 12px 10px; */
    padding: .4rem 1.5rem .5rem;
}


.btn-white:hover {
    background: #fff;
    color: #000000;
    border: 1px solid #3CBE55;
}

.btn-white.active{
    background: rgb(56,187,92);
    background: linear-gradient(34deg, rgba(56,187,92,1) 31%, rgba(18,161,148,1) 100%);
    color: #fff;
}

.btn-white-active {
    background: #E2F5E6;
    color: #3CBE55;
    border: 1px solid #3CBE55;
    border-radius: 4px;
    padding: 12px 10px;
}

.select-none-border {
    border: 0;
    font-weight: bold;
    font-size: 10pt;
}

.div-input-stock {
    width: auto;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid rgb(243, 243, 243);
}

.input-stock {
    user-select: auto;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: inline-block;
    max-width: 90px;
    min-width: 25px;
    width: 55px;
    text-align: center;
    border: 0px;
    font-size: 14px;
    border-radius: 0px;
    padding: 0px 0px 3px;
    appearance: none;
    box-sizing: border-box;
    color: rgba(49, 53, 59, 0.68);
}

.main-section {
    margin-top: 170px;
    margin-bottom: 100px;
}

.btn-switch {
    display: inline-block;
    position: relative;
    padding: 4px;
    border-radius: 8px;
    background-color: rgb(243, 244, 245);
    overflow: hidden;
}

.btn-switch .primary {
    position: relative;
    padding: 4px 16px;
    background-color: rgb(3, 172, 14);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
    outline: none;
    text-align: center;
    transition: color 0.1s ease-in-out 0.1s, background-color 0.1s ease-out 0.3s;
    z-index: 2;
}

.btn-switch .off {
    position: relative;
    padding: 4px 16px;
    background-color: transparent;
    border-radius: 6px;
    border: none;
    color: rgba(49, 53, 59, 0.44);
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
    outline: none;
    text-align: center;
    transition: color 0.1s ease-in-out 0.1s, background-color 0.1s ease-out 0s;
    z-index: 2;
}

.img-icon {
    width: 32px;
    height: auto;
}

.main-title {
    flex: 1 1 auto;
    font-weight: 800;
    font-size: 14pt;
    font-stretch: normal;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: normal;
    text-align: left;
    color: rgba(49, 53, 59, 0.96);
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
}

.text-link-primary {
    font-size: 11pt;
    line-height: 1.57143rem;
    color: rgb(3, 172, 14);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.text-link {
    font-size: 11pt;
    font-weight: bold;
    line-height: 1.57143rem;
    color: rgb(3, 172, 14);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 8px;
}

.text-link:hover {
    text-decoration: none;
}

.category-mini {
    display: inline-block;
    margin-right: 8px;
    border-radius: 16px;
    border: 1px solid rgb(229, 231, 233);
    background-color: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}

.category-mini>div {
    float: left;
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 8px;
}

.category-mini-icon {
    background-color: transparent;
    display: inline-block;
    height: auto;
    margin: 0px auto;
    position: relative;
    text-align: center;
}

.category-mini span {
    float: left;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: normal;
    color: rgba(49, 53, 59, 0.68);
    vertical-align: middle;
}

.frame-category .frame-whishlist {
    position: relative;
    flex: 1 1 100%;
    display: block;
    width: 100%;
    transition: all 2s ease 0s;
    min-width: 0px;
}

.wish-mini {
    display: inline-block;
    width: 320px;
    margin-right: 8px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    padding: 6px;
    cursor: pointer;
}

/* .wish-mini-icon{
    width: 64px;
    height: 64px;
} */
.owl-carousel .owl-stage-outer {
    height: 100%;
    padding: 4px 0 4px 0;
}

.item-product {
    display: flex;
    position: relative;
    overflow: visible;
    flex-flow: column nowrap;
    height: 100%;
}

.item-img {
    position: relative;
    margin: 0px;
    display: block;
    padding-bottom: 100%;
    height: 0px;
    overflow: hidden;
}

.item-img img {
    width: 100%;
}

.item-desc {
    color: #000;
}

.item-desc p {
    margin-bottom: 4px;
    font-size: 0.86rem;
    color: rgba(49, 53, 59, 0.96);
    max-width: 100%;
    max-height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-badge .success {
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.714286rem;
    color: rgb(3, 172, 14);
    background-color: rgb(218, 245, 219);
    line-height: 1.4;
    letter-spacing: normal;
    margin-bottom: 4px;
    height: 20px;
    padding: 3px 4px 2px;
    margin-right: auto;
}
.item-badge .grey {
    display: inline-block;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.714286rem;
    color: #9FA6B0;
    background-color: #F3F4F5;
    line-height: 1.4;
    letter-spacing: normal;
    margin-bottom: 4px;
    height: 20px;
    padding: 3px 4px 2px;
    margin-right: auto;
}

.item-badge .danger {
    display: inline-block;
    background-color: #EFAAB0;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.714286rem;
    color: #D00A1A;
    line-height: 1.4;
    letter-spacing: normal;
    margin-bottom: 4px;
    height: 20px;
    padding: 3px 4px 2px;
    margin-right: auto;
}

.item-badge .red {
    background-color: #f71326;
    border-radius: 3px;
    font-weight: bold;
    font-size: 11px;
    color: #ffffff;
    line-height: 1.4;
    letter-spacing: normal;
    margin-bottom: 4px;
    height: 20px;
    padding: 4px 10px;
    margin-right: auto;
}
.item-badge .orange {
    background-color: #FFF0C2;
    border-radius: 3px;
    font-weight: bold;
    font-size: 11px;
    color: #CA881F;
    line-height: 1.4;
    letter-spacing: normal;
    margin-bottom: 4px;
    height: 20px;
    padding: 4px 10px;
    margin-right: auto;
}

.item-badge .coret {
    font-size: 0.714286rem;
    color: rgba(49, 53, 59, 0.44);
    text-decoration: line-through;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px 0px 0px 4px;
}

.item-price {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    margin-bottom: 4px;
    color: rgba(49, 53, 59, 0.96);
    opacity: 1;
    font-size: 1rem;
    font-weight: bold;
    align-items: flex-end;
    line-height: 1.43;
}

.item-rating object {
    height: 20px;
    width: 20px;
    margin: -6px;
}

.item-rating small {
    font-size: 9pt;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(49, 53, 59, 0.44);
    vertical-align: bottom;
}

.reload-link {
    position: absolute;
    margin-top: 12px;
}

.font-rating {
    font-size: 35pt;
    font-weight: bold;
}

.font-rating small {
    font-size: 11pt;
}

.sticky-detail {
    position: sticky;
    top: 185px;
}

/*CUSTOM CSS ORI */
.btn-light:hover {
    background-color: #fff !important;
}

.btn-success {
    background-color: #03AC0E !important;
}

.btn:hover {
    box-shadow: none;
    /* background-color: #029e0d!important; */
}

.paginate-first {
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
    transform: scaleX(-1);
    margin-left: 0px;
}

.page-item.active .page-link {
    border-bottom: 2px solid #00b74a;
    background: transparent;
    color: #00b74a;
    box-shadow: none;
}

.page-item:hover .page-link {
    background-color: transparent;
}

.bg-light {
    background-color: #F3F4F5 !important;
}

.breadcrumb-item+.breadcrumb-item:before {
    background: url('../WEB/ICON/ICON WEB91.svg');
    content: "-";
}

.breadcrumb {
    background-color: transparent !important;
}

.badge-light {
    background-color: #E2F5E6 !important;
}

.footer {
    border-top: 1px solid #f1f1f1 !important;
}

.form-check .form-check-input {
    margin-left: -1.39rem;
}

.form-check-label {
    margin-left: 8px;
}

.form-check-input[type=checkbox] {
    border-radius: 4px;
}

.form-check-input[type=checkbox]:checked {
    background: #00b74a;
    border-color: #00b74a;
}

.form-check-input[type=checkbox]:checked:focus {
    background: #00b74a;
    border-color: #00b74a;
}

.nav-fill .nav-item {
    border-bottom: 1px solid #f1f1f1;
}

.custom-select option{
    padding: 8px;
}

.rounded {
    border-radius: 6px;
}

.rounded-10 {
    border-radius: 10px!important;
}

.rounded-18 {
    border-radius: 18px !important;
}

.rounded-full {
    border-radius: 100px!important;
}

.rounded-border {
    border: 1px solid #dadada;
}

.p-6-20 {
    padding: 6px 20px;
}

.container-fluid {
    width: 960px !important;
}

hr {
    background-color: #a19d9d;
}

.shadows {
    box-shadow: 0px 2px 6px #00000012;
}

.form-control {
    border-radius: 8px;
}
.dropdown-menu{
    border-radius: 8px;
}
.dropdown-item{
    border-radius: 8px;
}

.card {
    border: 1px solid #f1f1f1;
    box-shadow: none;
    border-radius: 9px;
}

.nav-tabs .nav-link {
    font-size: 10pt;
    font-weight: bold;
    border-width: 0 0 3px;
    text-transform: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #3CBE55;
    border-color: #3CBE55;
}

.btn {
    border-radius: 7px;
}

.btn-secondary {
    background-color: #EDEDED;
    color: #707070;
    box-shadow: none;
    border-color: transparent;
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: #EDEDED;
    color: #707070;
    box-shadow: 0px 2px 6px #00000012;
    border-color: transparent;
}

.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #EDEDED;
    color: #707070;
}

.btn-success {
    box-shadow: none;
    letter-spacing: 1px;
    font-weight: bold;
}

.tab-content {
    color: #868686;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
    outline: 0 none !important;
    border: 1px solid #3CBE55 !important;
    outline-color: #03AC0E !important;
    outline-style: none;
}

.form-control:focus {
    outline: 0 none !important;
    outline-color: #03AC0E !important;
    border-color: #3CBE55 !important;
    box-sizing: border-box;
    border-width: 1.25px 1.25px 0px;
    border-image: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
    box-shadow: none;
}

.tab-home {
    outline: 0px;
    cursor: pointer;
    /* position: relative; */
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    width: 216px;
    height: 64px;
    padding: 6px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}

.tab-home-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    height: 42px;
    text-align: left;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
}

.tab-home-title::before {
    position: absolute;
    top: 8px;
    left: 8px;
    content: "";
    width: 0px;
    height: 3px;
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
    transition: width 0.2s ease-in-out 0s;
}

.tab-home-title.active::before {
    width: 40px;
}

.tabcontent {
    display: none;
}

.btn-loadmore {
    color: rgb(3, 172, 14);
    font-size: 1.14286rem;
    height: 48px;
    line-height: 22px;
    border-radius: 8px;
    font-weight: 700;
    outline: none;
    padding: 0px 16px;
    transition: background 0.8s ease 0s;
    cursor: pointer;
    display: inline-block;
    background: radial-gradient(circle, transparent 1%, transparent 1%) center center / 15000% transparent;
    border: 1px solid rgb(3, 172, 14);
    text-indent: initial;
    position: relative;
    width: 320px;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.preview-detail {
    position: relative;
    width: 100%;
    height: 410px;
    text-align: center;
}

.detail-photo-product {
    width: 60% !important;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.detail-photo-ulasan {
    width: 40% !important;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.modal-xl {
    width: 1000px;
    display: flex;
    position: relative;
}

.tumb-preview-detail {
    height: 200px;
    overflow-y: scroll;
}

.preview-thumbnail-detail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail-detail.nav-tabs a {
    width: 33%;
    margin-right: 2.5%;
}

.preview-thumbnail-detail.nav-tabs a img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail-detail.nav-tabs a {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

.preview-thumbnail-ulasan {
    height: 400px;
    overflow-y: scroll;
}

.preview-thumbnail-ulasan.nav-tabs a {
    width: 100%;
    margin-right: 2.5%;
}

.preview-thumbnail-ulasan.nav-tabs a img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail-ulasan.nav-tabs a {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

.preview-pic {
    overflow: hidden;
    cursor: crosshair;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.panel-title {
    position: relative;
}

.panel-title::after {
    content: "\f107";
    color: #333;
    top: 3px;
    right: 0px;
    position: absolute;
    font-family: "Font Awesome 5 Free"
}

.panel-title[aria-expanded="true"]::after {
    content: "\f106";
}

.panel-heading-full.panel-heading {
    padding: 0;
}

.panel-heading-full .panel-title {
    padding: 10px 15px;
}

.panel-heading-full .panel-title::after {
    top: 10px;
    right: 15px;
}
.panel-sidebar{
    list-style: none;
    margin: 0;
    padding: 0;
}
.panel-sidebar li{
    padding: 2px 8px;
    border-radius: 4px;
    margin-top: 4px;
}
.panel-sidebar li:hover{
    background-color: #ededed;
}

.tabbable .nav-tabs {
   overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
   border-bottom: 1px solid #f1f1f1;
}

.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
}
.tabbable .nav-tabs::-webkit-scrollbar {
  display: none;
}

.tabbable .nav-tabs {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.btn-choose-photo {
  margin: .5rem 0;
  background: #fff;
  border: .1rem solid #ebebeb;
}
.btn-border {
  background: #fff;
font-weight: bold;
  border: 1px solid #ebebeb;
}
.starrating > input {display: none;} 



.starrating > label > i
{
    font-size: 17pt;
color: #868686;

/* Start color when not clicked */
}

.starrating > input:checked ~ label i
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label i
{ color: #ffca08 ;  } /* Set yellow color when star hover */


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-on-off .on, .switch-on-off .off{
    display: none;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-switch {
  background-color: #00b74a;
}

input:focus + .slider-switch {
  box-shadow: 0 0 1px #00b74a;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded slider-switchs */
.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}

.card-alamat::before{
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;
    width: 6px;
    height: 34px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #03AC0E;
}
.card-alamat.active{
    border:1px solid #4FD15A;
    background-color: #EBFFEF;
}

.check-alamat{
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}
.list-menu a{
    font-weight: bold;
    font-size: 10pt;
    padding: 12px 0px;
    color: #000;
}
.list-menu .active{
    color: #03AC0E;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media only screen and (min-width:320px) {
    .container-fluid {
        padding: 0;
    }
}

@media (min-width: 1280px) {
    .container-fluid {
        width: 96% !important;
    }
}
@media (max-width: 768px) {
    .container-fluid {
        width: 96% !important;
    }
    .main-section{
        margin-top: 80px;
    }
    .container {
        width: 96%!important;
    }
    .content-dropdown-custom-right{
        left: -160px;
    }
    .content-dropdown-custom{
        left: -96px;
    }
    .bg-content-dropdown{
        inset: 58px 0px 0px;
    }
    .nav-bar-misc > .pl-5{
        padding-left: 0!important;
    }
    .scroll-custom-x{
        overflow-x: scroll;
    }

    .justify-content-end{
        justify-content: flex-start!important;
    }
    .el-kategori{
        display: none;
    }
    .i-keranjang, #btn-login{
        display: none;
    }
    #main-slider{
        margin: 50px auto 0 auto;
    }
}




/* SELLER CSS */
.logo-seller{
    color: #707070;
    font-weight: 100;
}
.main-step{
    position: relative;
}
.step-content{
    padding-bottom: 25px;
}
.step-content > .el-content{
    margin-left: 50px;
    display: none;
}
.step-header{
    margin-left: 50px;
    min-height: 32px;
    -moz-box-align: center;
    align-items: center;
}
.progress-line{
    position: relative;
}
.progress-line::after{
    transition: all 0.3s ease-out 0s;
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #E5E7E9;
    left: 15px;
    top: 0px;
    z-index: 1;
}
.progress-line.last::after{
    display: none;
}

.progress-line > .step-header > .step-label{
    transition: all 0.3s ease-out 0s;
    position: absolute;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    font-weight: bold;
    color: #03AC0E;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    border: 1px solid #03AC0E;
    border-radius: 50%;
    z-index: 2;
    background:#FFFFFF;
}

.progress-line.disabled{
    height: 62px;
}
.progress-line.active > .step-header > .step-label{
    background: #03AC0E;
    border: 1px solid #FFFFFF;
    color:#FFFFFF;
}
.progress-line.disabled > .step-header > .step-label{
    background: #DBDEE2;
    border: 1px solid #FFFFFF;
    color:#FFFFFF;
}

.progress-line > .step-content > .el-content.show{
    display: block;
}
#sidebar-content{
    padding-bottom: 60px;
}
#sidebar-left{
    position: fixed;
    height: auto;
    top:98px;
    bottom: 0;
    left: 0;
    background-color:#fff;
    box-shadow: rgb(0 0 0 / 4%) 0 2px 6px 0;
    z-index: 20;
}

.main-sidebar{
    width: 230px;
    height: 100%;
    box-sizing: border-box;
    z-index: 20;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}

.main-sidebar.collapse-sidebar{
    width: 72px;
}

.sidebar-header{
    padding: 17px 13px;
    list-style: none;
    max-height: 350px;
}

.sidebar-header li{
    line-height: 22px;
    visibility: visible;
    opacity: 1;
    border-radius: 4px;
}
.sidebar-header .hide{
    display: none;
}
.submenu-sidebar:hover{
    background-color: #f1f1f1;
    border-radius: 8px;
}
.sidebar-menu{
    list-style: none;
    padding: 0;
    position: relative;
}

.sidebar-menu li{
    position: relative;
}
.sidebar-menu li .link-menu:hover{
    background-color: #F3F4F5;
}
.panel-title.hide b, .panel-title.hide .panel-title::after{
    display: none;
} 
.panel-title.hidden-after::after{
    content: none;
}
.icon-gj.hide{
    display: none;
}

.link-menu{
    padding: 8px 12px;
}

.link-menu b{
    margin-left: 4px;
    color:#000;
}

.link-menu::before{
    content: '';
    position: absolute;
    width: 3px;
    left: 0;
    background-color: #fff;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.link-menu.active::before{
    background-color: #03AC0E;
}

.link-menu.active > b{
    color:#03AC0E;
}

.dropdown-submenu-sidebar{
    list-style: none;
    margin: 0;
    padding-left: 28px;
}
.dropdown-submenu-sidebar li a{
    padding: 8px 12px;
    color: #000;
}
.dropdown-submenu-sidebar li a:hover{
    color: #000;
    background-color: #F3F4F5;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: 600;
}

.not-open .link-menu, .not-open #expand{
    justify-content : center!important;
}

.collapse-sidebar .link-menu, .collapse-sidebar #expand{
    justify-content : center!important;
}

.not-open #expand b, .not-open .hide, .minimize > li > a b, .collapse-sidebar #expand b{
    display: none;
}

.content-container{
    min-width: 1136px;
    border:0;
}
.card-container-seller{
    padding: 26px;
    width: 100%;
    min-width: calc(1366px - 230px);
    min-height: 100vh;
    background-color: #f3f4f5;
}
.main-container-seller{
    margin-top: 96px;
    padding-left: 230px;
    height: 100%;
    transition: all 0.2s ease;
}

.tab-statistik .active{
    border-bottom: 5px solid #03AC0E;
}
.nav-tabs .nav-link{
    padding: 17px 29px 16px;
}

.dropdown-toggle:after{
    right: 10px;
    position: absolute;
    top: 18px;
}
.dropdown-toggle{
    min-width: 150px;
    text-align: left;
}

input:disabled{
    cursor: not-allowed;
}

.icon-ads object{
    width: 42px;
    border-radius: 4px;
    /* padding:12px; */
    background-color: #fff;
    box-shadow: 0px 2px 6px #00000012;
}
.icon-ads{
    margin-top: -43px;
}

.tab-pane-custom{
    display: none;
}
.tab-pane-custom.active{
    display: block;
}

.btn-upload-product{
    border:2px dashed #f1f1f1;
    border-radius: 4px;
    transition: .2s ease;
    color: #a3a3a3;
}

.btn-upload-product:hover{
    border-color: #03AC0E;
    color:#03AC0E;
}
.btn-upload-product i{
    font-size: 25pt;
}
.btn-upload-product small{
    font-size: 11pt;
}

.form-check-input:checked{
    border-color: #00b74a;
}
.form-check-input[type=radio]:checked:after{
    border-color: #00b74a;
    background-color: #00b74a;
}

.input-group-text{
    background-color: #ededed;
}