<template>
<div>
<div class="card mt-2">
    <div class="p-3 align-items-center d-flex justify-content-between">
        <b class="text-dark ml-2 f-13">Pesanan Dikomplain</b>
        <button class="btn btn-success mt-2 f-8"><span class="fa fa-plus"></span> Ajukan Komplain</button>
    </div>
    <div class="tabbable">
        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3" id="tab-scroll" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-transaksi" data-mdb-toggle="tab" href="#tab-transaksi-content"
                    role="tab">Sebagai Pembeli (0)</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-update" data-mdb-toggle="tab" href="#tab-update-content"
                    role="tab">Sebagai Penjual (0)</a>
            </li>
        </ul>
        <!-- Tabs navs -->
    </div>

    <!-- Tabs content -->
    <div class="tab-content" id="ex1-content">
        <div class="tab-pane fade show active" id="tab-transaksi-content" role="tabpanel">
            <div class="card-body">
                <div class="text-center">
                    <div class="d-flex align-items-center f-10">
                        <div class="input-group border rounded">
                            <input type="text" class="form-control rounded border-0 f-10" placeholder="Cari Invoice" />
                            <span class="input-group-text category-search-icon border-0">
                                <img src="assets/WEB/ICON/ICON WEB03.svg" class="w-20"
                                    alt="">
                            </span>
                        </div>
                        <div class="dropdown ml-2 f-10">
                            <button
                                class="form-control dropdown-toggle f-10 p-2"
                                type="button"
                                id="dropdownMenu2"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Komplain Ter..
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button">Komplain Terbaru</button></li>
                                <li>
                                <button class="dropdown-item" type="button">Komplain Terlama</button>
                                </li>
                            </ul>
                        </div>
                        <input type="text" class="daterange form-control ml-2 f-10 p-2" name="daterange" value="" />
                        <div class="dropdown ml-2 f-10">
                            <button
                                class="form-control dropdown-toggle f-10 p-2"
                                type="button"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Tipe Pengajuan
                            </button>
                            <div class="dropdown-menu" style="width: 330px">
                                <div class="p-2">
                                    <ul class="">
                                        <li class="align-items-center mt-3">
                                            <input class="form-check-input" type="checkbox" name="checkbox-pengajuan" value="" id=""/>
                                            <label class="form-check-label fc-text" for="">
                                                Pengembalian Barang & Dana
                                            </label>
                                        </li>
                                        <li class="align-items-center mt-3">
                                            <input class="form-check-input" type="checkbox" name="checkbox-pengajuan" value="" id=""/>
                                            <label class="form-check-label fc-text" for="">
                                                Kirim Barang Kurang / Tidak Lengkap
                                            </label>
                                        </li>
                                        <li class="align-items-center mt-3">
                                            <input class="form-check-input" type="checkbox" name="checkbox-pengajuan" value="" id=""/>
                                            <label class="form-check-label fc-text" for="">
                                                Pengembalian Selisih Biaya Pengiriman
                                            </label>
                                        </li>
                                        <li class="align-items-center mt-3">
                                            <input class="form-check-input" type="checkbox" name="checkbox-pengajuan" value="" id=""/>
                                            <label class="form-check-label fc-text" for="">
                                                Minta Tokopedia Investigasi Pengiriman
                                            </label>
                                        </li>
                                        <li class="align-items-center mt-3">
                                            <input class="form-check-input" type="checkbox" name="checkbox-pengajuan" value="" id=""/>
                                            <label class="form-check-label fc-text" for="">
                                                Penukaran Barang
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="d-flex justify-content-between p-3">
                                    <span class="text-link pointer" id="uncheck" >Hapus</span>
                                    <a class="btn btn-success" href="#">Berlakukan</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown ml-2 f-10">
                            <button
                                class="form-control dropdown-toggle f-10 p-2"
                                type="button"
                                id="dropdownMenu2"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Asal Pengiriman
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button">Dari Toko Cabang</button></li>
                                <li>
                                <button class="dropdown-item" type="button">Dari Toko</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center f-10 mt-2">
                        <div class="d-flex align-items-center f-10">
                            <b>Filter Status</b>
                            <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-belum-selesai" role="tab">Belum Selesai (0)</a>
                            <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-butuh-respon" role="tab">Butuh Direspon (0)</a>
                            <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-belum-dibaca" role="tab">Belum Dibaca (0)</a>
                            <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-sudah dibaca" role="tab">Sudah Dibaca (0)</a>
                            <a class="p-2 ml-2 text-link" href="javascript:;" id="reset_filter">Reset Filter</a>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="text-center">
                        <img src="assets/WEB/ICON/ICON WEB66.svg" class="w-25" alt="">
                        <br>
                        <b class="text-dark">Oops...</b>
                        <br>
                        <b class="f-10">Kami tidak dapat menemukan komplain yang Anda cari</b>
                        <br>
                        <button class="btn btn-success mt-2">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-update-content" role="tabpanel">
            <div class="card-body">
                <div class="text-center">
                    <div class="d-flex align-items-center f-10">
                        <div class="input-group border rounded">
                            <input type="text" class="form-control rounded border-0 f-10" placeholder="Cari Invoice" />
                            <span class="input-group-text category-search-icon border-0">
                                <img src="assets/WEB/ICON/ICON WEB03.svg" class="w-20"
                                    alt="">
                            </span>
                        </div>
                        <div class="dropdown ml-2 f-10">
                            <button
                                class="form-control dropdown-toggle f-10 p-2"
                                type="button"
                                id="dropdownMenu2"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Komplain Ter..
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button">Komplain Terbaru</button></li>
                                <li>
                                <button class="dropdown-item" type="button">Komplain Terlama</button>
                                </li>
                            </ul>
                        </div>
                        <input type="text" class="daterange form-control ml-2 f-10 p-2" name="daterange" value="" />
                        <div class="dropdown ml-2 f-10">
                            <button
                                class="form-control dropdown-toggle f-10 p-2"
                                type="button"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Tipe Pengajuan
                            </button>
                            <div class="dropdown-menu" style="width: 300px">
                                <div>
                                    
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Hapus</a>
                                <a class="dropdown-item" href="#">Batalkan</a>
                            </div>
                        </div>
                        <div class="dropdown ml-2 f-10">
                            <button
                                class="form-control dropdown-toggle f-10 p-2"
                                type="button"
                                id="dropdownMenu2"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Asal Pengiriman
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><button class="dropdown-item" type="button">Dari Toko Cabang</button></li>
                                <li>
                                <button class="dropdown-item" type="button">Dari Toko</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center f-10 mt-2">
                        <div class="d-flex align-items-center f-10">
                            <b>Filter Status</b>
                            <a class="p-2 ml-2 tab-label active" data-mdb-toggle="tab" href="#tab-belum-selesai" role="tab">Belum Selesai (0)</a>
                            <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-butuh-respon" role="tab">Butuh Direspon (0)</a>
                            <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-belum-dibaca" role="tab">Belum Dibaca (0)</a>
                            <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-sudah dibaca" role="tab">Sudah Dibaca (0)</a>
                            <a class="p-2 ml-2 text-link">Reset Filter</a>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="text-center">
                        <img src="assets/WEB/ICON/ICON WEB66.svg" class="w-25" alt="">
                        <br>
                        <b class="text-dark">Oops...</b>
                        <br>
                        <b class="f-10">Kami tidak dapat menemukan komplain yang Anda cari</b>
                        <br>
                        <button class="btn btn-success mt-2">Reset Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabs content -->
</div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>