<template>
    <div class="col-md-9">
        <div class="d-flex">
            <b class="text-dark ml-2">Notifikasi Transaksi</b>
        </div>
        <div class="card mt-2">
            <div class="tabbable">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs mb-3" id="tab-scroll" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-transaksi" data-mdb-toggle="tab"
                            href="#tab-transaksi-content" role="tab">Transaksi</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-update" data-mdb-toggle="tab" href="#tab-update-content"
                            role="tab">Update</a>
                    </li>
                </ul>
                <!-- Tabs navs -->
            </div>

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="tab-transaksi-content" role="tabpanel">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="assets/WEB/ICON/ICON WEB32.svg" class="w-25" alt="">
                            <br>
                            <b class="f-10">Belum ada notifikasi</b>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-update-content" role="tabpanel">
                    <div class="card-body">
                        <div class="d-flex align-items-center f-10">
                            <b>Kategori</b>
                            <a href="javascript:;" class="p-2 ml-2 tab-label">Info</a>
                            <a href="javascript:;" class="p-2 ml-2 tab-label">Promo</a>
                            <a href="javascript:;" class="p-2 ml-2 tab-label">Aktivitas</a>
                            <a href="javascript:;" class="p-2 ml-2 tab-label">Event</a>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="pointer bg-active-update p-3">
                            <div class="d-flex f-9">
                                <img src="assets/WEB/ICON/ICON WEB44.svg" class="w-20" alt="">
                                <small class="ml-2">Info</small>
                                <img src="assets/WEB/ICON/ICON WEB71.svg" class="w-20" alt="">
                                <small>16:28</small>
                            </div>
                            <div class="f-10">
                                <b class="text-dark">Apakah kamu berusaha untuk login?</b>
                                <br>
                                <p>Ada permintaan akses untuk masuk ke akunmu di PC (Chrome). Cek disini untuk
                                    detailnya. Kalau ini bukan perangkatmu, amankan akunmu di sini!</p>
                            </div>
                        </div>
                        <div class="pointer bg-active-update p-3">
                            <div class="d-flex f-9">
                                <img src="assets/WEB/ICON/ICON WEB44.svg" class="w-20" alt="">
                                <small class="ml-2">Info</small>
                                <img src="assets/WEB/ICON/ICON WEB71.svg" class="w-20" alt="">
                                <small>16:28</small>
                            </div>
                            <div class="f-10">
                                <b class="text-dark">Apakah kamu berusaha untuk login?</b>
                                <br>
                                <p>Ada permintaan akses untuk masuk ke akunmu di PC (Chrome). Cek disini untuk
                                    detailnya. Kalau ini bukan perangkatmu, amankan akunmu di sini!</p>
                            </div>
                        </div>
                        <div class="pointer bg-active-update p-3">
                            <div class="d-flex f-9">
                                <img src="assets/WEB/ICON/ICON WEB44.svg" class="w-20" alt="">
                                <small class="ml-2">Info</small>
                                <img src="assets/WEB/ICON/ICON WEB71.svg" class="w-20" alt="">
                                <small>16:28</small>
                            </div>
                            <div class="f-10">
                                <b class="text-dark">Apakah kamu berusaha untuk login?</b>
                                <br>
                                <p>Ada permintaan akses untuk masuk ke akunmu di PC (Chrome). Cek disini untuk
                                    detailnya. Kalau ini bukan perangkatmu, amankan akunmu di sini!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
