<template>
   <div id="main-slider">
    <div class="body-slider">
        <div class="pt-4">
            <section class="centers slider">
                <div v-for="(item,index) in getSlider.data" :key="index">
                <img :src="item.image" class="img-fluid rounded-10">
                </div>
            </section>
    
        </div>
    </div>
</div>
</template>

<script>
import store from "../../store";

export default {

   mounted(){},
   computed:{
     getSlider(){
       const data = store.getters.slider;
       return data;
     }
   }
}
</script>

<style>

</style>