<template>
    <div>
        <div class="text-center">
            <div class="d-flex align-items-center f-10">
                <div class="input-group border rounded">
                    <input type="text" class="form-control rounded border-0 f-10"
                        placeholder="Cari transaksimu disini..." />
                    <span class="input-group-text category-search-icon border-0">
                        <img src="assets/WEB/ICON/ICON WEB03.svg" class="w-20" alt="">
                    </span>
                </div>
                <div class="dropdown ml-2 f-10">
                    <button class="form-control dropdown-toggle f-10 p-2" type="button" id="dropdownMenu2"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        Semua Produk
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button">Belanja</button></li>
                        <li><button class="dropdown-item" type="button">Top-up & Tagihan</button></li>
                        <li><button class="dropdown-item" type="button">Travel & Entertaiment</button></li>
                        <li><button class="dropdown-item" type="button">Keuangan</button></li>
                        <li><button class="dropdown-item" type="button">Halal Corner</button></li>
                        <li><button class="dropdown-item" type="button">Langsung Laku</button></li>
                    </ul>
                </div>
                <input type="text" class="daterange form-control ml-2 f-10 p-2" name="daterange" value="" />
            </div>
            <div class="d-flex align-items-center f-10 mt-2 scroll-custom-x">
                <div class="d-flex align-items-center f-10">
                    <b>Status</b>
                    <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-semua" role="tab">Semua</a>
                    <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-berlangsung"
                        role="tab">Berlangsung</a>
                    <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-berhasil" role="tab">Berhasil</a>
                    <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-tidak-berhasil" role="tab">Tidak
                        Berhasil</a>
                    <a class="p-2 ml-2 tab-label" data-mdb-toggle="tab" href="#tab-tiket" role="tab">E-Tiket & E-voucher
                        Aktif</a>
                    <a class="p-2 ml-2 text-link" href="javascript:;" id="reset_filter">Reset Filter</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
