<template>
    <div>
        <div class="align-items-center d-flex justify-content-between">
            <b class="text-darkf-13 f-14">Daftar Transaksi</b>
        </div>
        <div class="alert alert-light text-dark mt-3 rounded-10" style="background-color: #EBF6F6;" role="alert">
            <b>Info Seputar Belanja</b><br>
            <p class="m-0 f-10">Perpanjangan waktu proses pesanan. <a href="" class="text-success fw-bold">Info
                    Selengkapnya</a></p>
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
