<template>
    <div>
        <div class="card mt-3">
            <div class="shadows">
                <div class="card-body" v-for="(item, index) in getOrderList.data" :key="index">
                    <div class="d-sm-flex f-10 align-items-center">
                        <img src="assets/WEB/ICON/ICON WEB11.svg" class="w-30" alt="">
                        <b class="ml-2">Belanja</b>
                        <span class="ml-2">29 Mei 2021</span>
                        <div class="item-badge ml-2">
                            <span class="success f-8">Selesai</span>
                        </div>
                        <span class="ml-2 fc-text">INV/20210518/MPL/1251423703</span>
                    </div>

                    <div class="d-sm-flex mt-2 f-10">
                        <img src="assets/WEB/ICON/ICON WEB17.svg" class="w-20" alt="">
                        <b class="ml-2">Grosir ATK Jakarta</b>
                    </div>
                    <div class="d-sm-flex justify-content-between mt-1">
                        <div class="d-sm-flex">
                            <img :src="item.image" class="h-60" alt="">
                            <div class="">
                                <a href="" class="parent-ellipsis text-dark f-11"><b class="ellipsis-350">{{item.name}}</b></a>
                                <small class="fc-text f-9">1 barang x Rp122.400</small> <br>
                                <a href=""><small class="f-9">+3 barang lainnya</small></a>
                            </div>
                        </div>
                        <div class="pl-4 pt-3 pb-3 pr-4 border-left mr-5">
                            <small>Total Belanja</small><br>
                            <b>Rp. 122.400</b>
                        </div>
                    </div>
                    <div class="scroll-custom-x">
                        <div class="d-flex align-items-center justify-content-end mt-3 f-10">
                            <a href="javascript:;" onclick="lihatDetailTransaksi()" class="text-link f-10">
                                Lihat Detail Transaksi
                            </a>
                            <button class="btn btn-success ml-4">
                                Beri Ulasan
                            </button>
                            <div class="dropdown">
                                <button class="bg-white  border rounded-10 ml-4" type="button" id="dropdownMenuButton"
                                    data-mdb-toggle="dropdown" aria-expanded="false">
                                    <img src="assets/WEB/ICON/ICON WEB51.svg" class="w-35" alt="">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Beli Lagi</a></li>
                                    <li><a class="dropdown-item" href="#">Tanya Penjual</a></li>
                                    <li><a class="dropdown-item" href="#">Bantuan</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import store from "../../store";
import { multiplePricing } from "../../utils/helper";


export default {
   data(){
     return {}
   },
   mounted(){},
   computed:{
     getOrderList(){
       const data = store.getters.orderList;
       return data;
     }
   },
   methods: {
     multiplePricing,
   },
}
</script>

<style>

</style>