<template>
  <div>
        <div class="mt-4 d-flex justify-content-between">
    <b>Wujudkan wishlist kamu!</b>
    <a href="" class="text-link">Lihat Semua</a>
</div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="frame-whishlist">
                        <div id="owl-wish" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="wish-mini shadows">
                                    <a href="" class="d-flex justify-content-start">
                                        <div class="wish-mini-icon">
                                            <object data="assets/WEB/IMAGE/IMAGE WEB67.jpg" type=""></object>
                                        </div>
                                        <div class="ms-1">
                                            <p class="fc-text m-0 f-11">Sandal Hak Tahu Chunky Wanita SYERA Block</p>
                                            <b class="text-dark f-13 lh-30">Rp145.000</b>
                                            <div class="d-flex">
                                                <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-20" type=""></object>
                                                <span class="f-10 ms-2">Onlineshopofficial</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="mt-2 d-flex justify-content-between">
                                        <a href="">
                                            <object data="assets/WEB/ICON/ICON WEB96.svg" class="w-35 me-2" type=""></object>
                                        </a>
                                        <button class="btn btn-outline-success w-100">Tambahkan ke Keranjang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wish-mini shadows">
                                    <a href="" class="d-flex justify-content-start">
                                        <div class="wish-mini-icon">
                                            <object data="assets/WEB/IMAGE/IMAGE WEB67.jpg" type=""></object>
                                        </div>
                                        <div class="ms-1">
                                            <p class="fc-text m-0 f-11">Sandal Hak Tahu Chunky Wanita SYERA Block</p>
                                            <b class="text-dark f-13 lh-30">Rp145.000</b>
                                            <div class="d-flex">
                                                <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-20" type=""></object>
                                                <span class="f-10 ms-2">Onlineshopofficial</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="mt-2 d-flex justify-content-between">
                                        <a href="">
                                            <object data="assets/WEB/ICON/ICON WEB96.svg" class="w-35 me-2" type=""></object>
                                        </a>
                                        <button class="btn btn-outline-success w-100">Tambahkan ke Keranjang</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="wish-mini shadows">
                                    <a href="" class="d-flex justify-content-start">
                                        <div class="wish-mini-icon">
                                            <object data="assets/WEB/IMAGE/IMAGE WEB67.jpg" type=""></object>
                                        </div>
                                        <div class="ms-1">
                                            <p class="fc-text m-0 f-11">Sandal Hak Tahu Chunky Wanita SYERA Block</p>
                                            <b class="text-dark f-13 lh-30">Rp145.000</b>
                                            <div class="d-flex">
                                                <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-20" type=""></object>
                                                <span class="f-10 ms-2">Onlineshopofficial</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="mt-2 d-flex justify-content-between">
                                        <a href="">
                                            <object data="assets/WEB/ICON/ICON WEB96.svg" class="w-35 me-2" type=""></object>
                                        </a>
                                        <button class="btn btn-outline-success w-100">Tambahkan ke Keranjang</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>