<template>
<div>
     <h2 class="main-title" >
                        Keranjang
                    </h2>
                    <div class="mt-2 d-flex justify-content-between">
                        <div class="form-check my-auto">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="check_all"
                                
                            />
                            <label class="form-check-label fc-text"  for="flexCheckChecked">
                                Pilih Semua
                            </label>
                        </div>
                        <button class="text-link btn-white border-0 p-0">
                            Hapus
                        </button>
                    </div>
                    <div class="el-cart-product" v-for="(item, index) in getChart" :key="index">
                        <div class="bl-5"></div>
                        <div class="mt-2 d-flex justify-content-between el-shop-cart">
                            <div class="form-check my-auto">
                                <input
                                    class="form-check-input outer"
                                    type="checkbox"
                                    value=""
                                    id="flexCheckChecked"
                                />
                                <a href="" class="text-dark">
                                    <label class="form-check-label">
                                        <p class="m-0">
                                            <b>{{item.seller_id.name}}</b>
                                        </p>
                                        <small class="fc-text">Kota Yogyakarta</small>
                                    </label>
                                </a>
                            </div>
                        </div>
                        <div class="item-cart-product" v-for="(row, idx) in item.order_details" :key="idx">
                            <div class="mt-3 d-flex">
                                <div class="form-check my-auto">
                                    <input
                                        class="form-check-input inner"
                                        type="checkbox"
                                        value=""
                                        id="flexCheckChecked"
                                    />
                                </div>
                                <div class="ms-2">
                                    <img :src="row.product_image" class="w-60" alt="">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        <p class="m-0 f-11">
                                            {{ row.product_name }} - {{ row.size_name }} {{ row.color_name }}
                                        </p>
                                        <span class="fc-price lh-30 f-11">Rp{{row.product_price}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-3 d-flex justify-content-between">
                                <div class="ms-4">
                                    <button class="f-normal text-link btn-white p-0 border-0 ms-2">
                                        Tulis catatan untuk barang ini
                                    </button>
                                </div>
                                <div class="d-flex">
                                    <button class="btn-white fc-text f-10 p-0 border-0">
                                        Pindahkan ke Wishlist
                                    </button>
                                    <div class="bh-20"></div>
                                    <a href="">
                                        <img src="assets/WEB/ICON/ICON WEB96.svg" class="w-30" alt="">
                                    </a>
                                    <div class="ms-5 update-stock">
                                        <a href="javascript:;">
                                            <img src="assets/WEB/ICON/ICON WEB98.svg" alt="" class="w-30 stock-min">
                                        </a>
                                        <div class="div-input-stock">
                                            <input type="text" class="input-stock" value="1">
                                        </div>
                                        <a href="javascript:;">
                                            <img src="assets/WEB/ICON/ICON WEB99.svg" class="w-30 stock-plus" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
</template>

<script>
import store from "../../store";

export default {
    computed:{
    getChart(){
      const data = store.getters.chartList;
    //    console.log(JSON.stringify(data));
      return data;
    },
  }
}
</script>

<style>

</style>