<template>
  <div>
     <div class="mt-4 d-flex justify-content-between">
                <b>Terakhir Dilihat</b>
            </div>
            <div class="row">
                <div class="col-3 col-md-3 mt-3" v-for="(item, index) in getHistoryProducts.data" :key="index">
                    <a href="">
                        <div class="h-100">
                            <div class="rounded-10 item-product shadows">
                                <div class="item-img">
                                    <img :src="item.image" alt="">
                                </div>
                                <div class="p-2 item-desc">
                                    <p>{{item.name}}</p>                                            
                                    <div class="item-price">
                                        <b class="fc-orange">Rp 125.000</b>
                                    </div>
                                    <div class="d-flex">
                                        <object data="assets/WEB/ICON/ICON WEB17.svg" class="w-15" type=""></object>
                                        <span class="f-10 ms-2">Bandung</span>
                                    </div>
                                    <div class="item-rating">
                                        <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                        <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                        <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                        <object data="assets/WEB/ICON/ICON WEB09.svg" type=""></object>
                                        <object data="assets/WEB/ICON/ICON WEB08.svg" type=""></object>
                                        <small>(1120)</small>
                                    </div>
                                    <button class="btn btn-outline-success w-100 mt-2"><span class="fa fa-plus"></span> Keranjang</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
  </div>
</template>

<script>
import store from "../../store";

export default {
   mounted(){},
   computed:{
     getHistoryProducts(){
       const data = store.getters.historyProductsChart;
       return data;
     }
   }
}
</script>

<style>

</style>