<template>
  <div>
        <div class="card-body">
            <button class="btn-white w-100 d-flex justify-content-between">
                <img src="assets/WEB/ICON/ICON WEB41.svg" class="w-30" alt="">
                <b>Makin hemat pakai promo</b>
                <img src="assets/WEB/ICON/ICON WEB14.svg" class="w-30" alt="">
            </button>

            <div class="mt-3">
                <b>Ringkasan belanja</b>
                <div class="d-flex justify-content-between lh-30 f-11 fc-text">
                    <span>Total Harga (2 barang)</span>
                    <span>Rp430.000</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <b>Total Harga</b>
                    <b class="f-14">Rp430.000</b>
                </div>
                <hr>
                <button class="btn btn-success p-3 btn-block f-12">
                    Beli (2)
                </button>
            </div>
        </div>           
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>