<template>
    <div class="col-md-9">
        <div class="alert alert-light f-10" style="background-color: #f1f1f1;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Sekarang kamu bina balas chat dari pembeli dan atur toko di Online Mol Seller. <a href=""
                class="text-link">Yuk, cek sekarang!</a>
        </div>

        <div class="shadows">
            <div class="card overflow-hidden">
                <div class="row m-0">
                    <div class="col-md-4 border-right p-0">
                        <div class="p-3">
                            <div class="d-flex justify-content-between">
                                <h4 class="fw-bold">Chatddd</h4>
                                <a href=""><img src="assets/WEB/ICON/ICON WEB100.svg" class="w-35" alt=""></a>
                            </div>
                            <div class="d-flex bd-highlight mt-2">
                                <div class="d-flex">
                                    <input type="text" class="form-control input-group-search">
                                </div>
                                <div>
                                    <button class="btn btn-secondary w-40 h-40 p-0 btn-group-search"><img
                                            src="assets/WEB/ICON/ICON WEB03.svg" class="w-20" alt=""></button>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-secondary w-40 h-40 p-0 ml-1 btn-filter-chat"><img
                                            src="assets/WEB/ICON/ICON WEB40.svg" class="w-30" alt=""></button>
                                </div>
                                <select name="" class="custom-select select-filter-chat w-100 ml-1" id="">
                                    <option value="">Semua</option>
                                    <option value="">Sudah Dibaca</option>
                                    <option value="">Belum Dibaca</option>
                                    <option value="">Belum Dibalas</option>
                                </select>
                            </div>
                        </div>
                        <div class="p-1 content-list-chat h-300 scroll-custom">
                            <div class="list-chat active d-flex justify-content-between">
                                <div class="align-self-center">
                                    <img src="assets/WEB/ICON/ICON WEB131.svg" class="w-35 rounded-full" alt="">
                                </div>
                                <div class="ml-2 d-flex">
                                    <div class="chat-desc">
                                        <div class="d-flex parent-ellipsis">
                                            <span class="text-dark f-12 ellipsis">Store.id</span>
                                            <div class="item-badge ml-2">
                                                <span class="success">Penjual</span>
                                            </div>
                                        </div>
                                        <div class="parent-ellipsis">
                                            <span class="fc-text f-9 w-max ellipsis">Hi, Kak apakah barang masih ada
                                                kah?</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="f-9 ml-auto fc-text">
                                    <small>16 Mei</small>
                                </div>
                            </div>
                            <div class="list-chat d-flex justify-content-between">
                                <div class="align-self-center">
                                    <img src="assets/WEB/ICON/ICON WEB131.svg" class="w-35 rounded-full" alt="">
                                </div>
                                <div class="ml-2 d-flex">
                                    <div class="chat-desc">
                                        <div class="d-flex parent-ellipsis">
                                            <span class="text-dark f-12 ellipsis">Store.id</span>
                                            <div class="item-badge ml-2">
                                                <span class="success">Penjual</span>
                                            </div>
                                        </div>
                                        <div class="parent-ellipsis">
                                            <span class="fc-text f-9 w-max ellipsis">Hi, Kak apakah barang masih ada
                                                kah?</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="f-9 ml-auto fc-text">
                                    <small>16 Mei</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="p-2 d-flex bd-highlight">
                            <div class="align-self-center ml-2">
                                <img src="assets/WEB/ICON/ICON WEB131.svg" class="w-35 rounded-full" alt="">
                            </div>
                            <div class="ml-2 d-flex">
                                <div class="">
                                    <div class="d-flex parent-ellipsis">
                                        <span class="text-dark font-weight-bold f-12 ellipsis">Store.id</span>
                                        <div class="item-badge ml-2">
                                            <span class="success">Penjual</span>
                                        </div>
                                    </div>
                                    <div class="">
                                        <span class="fc-text f-9 w-100">Terakhir online 4 jam yang lalu</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-auto align-self-center">
                                <img src="assets/WEB/ICON/ICON WEB51.svg" alt="" data-mdb-toggle="dropdown"
                                    class="w-35 pointer dropdown-toggle" data-toggle="dropdown">
                                <div class="dropdown-menu p-1">
                                    <a href="#" class="dropdown-item">Follow Toko</a>
                                    <a href="#" class="dropdown-item">Atur Penerimaan Chat</a>
                                    <a href="#" class="dropdown-item">Laporkan Pengguna</a>
                                    <a href="#" class="dropdown-item">Hapus</a>
                                </div>
                            </div>
                        </div>
                        <div class="h-300 scroll-custom">
                            <div class="chat-right-product p-2 d-flex ml-auto w-50 pointer">
                                <img src="assets/WEB/IMAGE/IMAGE WEB26.jpg" class="w-60 h-60" alt="">
                                <div class="f-10 w-100">
                                    <div class="item-badge">
                                        <span class="success">Pesanan Selesai</span>
                                    </div>
                                    <small>INV/20210515/MPL/1244123753</small>
                                    <br>
                                    <b>Rp. 44.400</b>
                                    <br>
                                    <div class="d-flex justify-content-end align-self-center">
                                        <img src="assets/WEB/ICON/ICON WEB107.svg" class="w-30" alt="">
                                        <small class="fc-text f-8 align-self-center">16.00</small>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <div class="chat-list chat-right mt-2">
                                    <span class="f-10">Apakah stok masih ada?</span>
                                    <img src="assets/WEB/ICON/ICON WEB107.svg" class="w-30" alt="">
                                    <small class="fc-text f-8 align-self-center">16.00</small>
                                </div>
                            </div>
                            <div class="text-left">
                                <div class="chat-list chat-left d-flex mt-2">
                                    <span class="f-10">Masih kakak, silakan di order ya... Agar bisa dikirim hari
                                        ini</span>
                                    <div class="d-flex">
                                        <small class="fc-text f-8 align-self-end">16.00</small>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <div class="chat-list chat-right mt-2">
                                    <span class="f-10">Ok siap, saya akan order sekarang kak.</span>
                                    <img src="assets/WEB/ICON/ICON WEB107.svg" class="w-30" alt="">
                                    <small class="fc-text f-8 align-self-center">16.00</small>
                                </div>
                            </div>
                            <div class="text-left">
                                <div class="chat-list chat-left d-flex mt-2">
                                    <span class="f-10">okey kami tunggu ordernya ya. :)</span>
                                    <div class="d-flex">
                                        <small class="fc-text f-8 align-self-end">16.00</small>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <div class="chat-list chat-right mt-2">
                                    <span class="f-10">Ok siap, saya akan order sekarang kak.</span>
                                    <img src="assets/WEB/ICON/ICON WEB107.svg" class="w-30" alt="">
                                    <small class="fc-text f-8 align-self-center">16.00</small>
                                </div>
                            </div>
                            <div class="text-left">
                                <div class="chat-list chat-left d-flex mt-2">
                                    <span class="f-10">okey kami tunggu ordernya ya. :)</span>
                                    <div class="d-flex">
                                        <small class="fc-text f-8 align-self-end">16.00</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-2 p-3">
                            <form action="" class="w-100">
                                <div class="d-flex bd-highlight">
                                    <input type="text" class="form-control rounded-full w-100 bd-highlight mr-1 f-10"
                                        autofocus placeholder="Tulis disini...">
                                    <img src="assets/WEB/ICON/ICON WEB53.svg"
                                        class="w-40 pointer flex-shrink-1 bd-highlight" alt="">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

    }

</script>

<style>

</style>
