<template>
    <div class="col-md-9">
        <div class="d-flex">
            <b class="text-dark ml-2">Diskusi</b>
        </div>
        <div class="card mt-2">
            <div class="tabbable">
                <!-- Tabs navs -->
                <ul class="nav nav-tabs mb-3" id="tab-scroll" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-update" data-mdb-toggle="tab" href="#tab-update-content"
                            role="tab">Diskusi Saya</a>
                    </li>
                </ul>
                <!-- Tabs navs -->
            </div>

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="tab-update-content" role="tabpanel">
                    <div class="card-body">
                        <div class="d-flex align-items-center f-10">
                            <b>Tampilkan</b>
                            <a href="javascript:;" class="p-2 ml-2 tab-label">Semua</a>
                            <a href="javascript:;" class="p-2 ml-2 tab-label">Belum Dibaca</a>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="assets/WEB/ICON/ICON WEB35.svg" class="w-25" alt="">
                                <br>
                                <b class="f-10">Belum ada diskusi produk</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->
        </div>
    </div>
</template>

<script>
    export default {

    }

</script>

<style>

</style>
