<template>
  <div>
        <div class="text-center">
                <img src="assets/WEB/ICON/ICON WEB75.svg" class="w-25" alt="">
                <br>
                <b class="text-dark">Belum ada rekening bank tersimpan</b>
                <br>
                <small>Yuk, tambah rekening bank kamu biar lebih mudah saat tarik Saldo Online Mol</small>
                <br>
                <button class="btn btn-success mt-3" onclick="tambahRekening()">
                    Tambah Rekening
                </button>
        </div>
          <div class="modal fade bd-example-modal-lg" id="modal_tambah_rekening" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content rounded-10">
            <div class="modal-header border-0">
                <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <h5 class="font-weight-bold text-center m-0">Tambah Rekening Bank</h5>
            <p class="text-center f-10">Rekening bank yang telah ditambahkan bisa kamu gunakan untuk penarikan Saldo Onlinemol</p>
            <div class="modal-body">
                <form class="p-3" action="">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Nama Bank</label>
                                <select name="" class="form-control" id="">
                                    <option value="">Pilih nama bank</option>
                                    <option value="">BNI</option>
                                    <option value="">BCA</option>
                                    <option value="">BRI</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Nomor Rekening</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis label alamat" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success mt-4">Periksa</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                        <p>Dengan melanjutkan, kamu menyetujui Syarat & Ketentuan yang berlaku.</p>
                        <button class="btn btn-success">Simpan</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>