<template>
  <div>
       <div class="row p-3">
            <div class="col-md-4 left-profile">
                <div class="card profile-photo-container shadow-0">
                    <div class="card-body">
                        <div class="row">
                            <div
                                class="col-12 d-flex justify-content-center align-items-center">
                                <img :src="getProfile.data.photo" class="profile-photo" />
                            </div>
                            <div
                                class="col-12 d-flex justify-content-center align-items-center">
                                <label class="btn btn-block shadow-0 btn-choose-photo" for="browse">Pilih Foto</label>
                                <input type="file" id="browse" name="browse" style="display: none">
                                
                            </div>
                            <div class="col-12 profile-photo-info f-9">
                                <p class="text-muted fw-sm">Besar file maksimum 10.000.000 bytes
                                    (10 Megabytes). Ekstensi file yang diperbolehkan:
                                    .JPG, .JPEG, .PNG</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <button class="btn btn-block shadow-0 btn-choose-photo"
                                    type="button"><span class="fa fa-key"></span><b class="ml-1">Ubah Kata Sandi</b></button>
                    <button class="btn btn-block shadow-0 btn-choose-photo mt-2"
                                    type="button"><span class="fa fa-lock"></span><b class="ml-1">PIN Onlinemol</b></button>
                </div>
            </div>
            <div class="col-md-8 right-profile">
                <div class="row">
                    <div class="col-12">
                        <h6 class="fw-bold f-11">Ubah Biodata Diri</h6>
                    </div>
                    <div class="row">
                        <div class="col-3 f-10">Nama</div>
                        <div class="col-9 f-10">{{ getProfile.data.name }} <a href="" class="text-link f-10">Ubah</a></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3 f-10">Tanggal Lahir</div>
                        <div class="col-9 f-10">20 Juni 1998</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3 f-10">Jenis Kelamin</div>
                        <div class="col-9 f-10">Wanita <a href="" class="text-link f-10">Ubah</a></div>
                    </div>
                    <div class="col-12 mt-3">
                        <h6 class="fw-bold f-11">Ubah Kontak</h6>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3 f-10">Email</div>
                        <div class="col-9 f-10 d-flex">
                            <span>Lidyalionel@gmail.com </span>
                            <div class="item-badge ml-2">
                                <span class="success">Terverifikasi</span>
                            </div>
                            <a href="" class="text-link f-10">Ubah</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3 f-10">Nomor HP</div>
                        <div class="col-9 f-10">0876-2345-2567 <a href="" class="text-link f-10">Ubah</a></div>
                    </div>
                    <div class="col-12 mt-3">
                        <h6 class="fw-bold f-11">Safe Mode</h6>
                    </div>
                    <div class="col-12 f-10">
                        Fitur ini akan otomatis mentoring hasil pencarian sesuli kebijakan dan
                        batas usia pengguna.
                    </div>
                    <div class="row mt-4">
                        <div class="col-3 f-10">
                            Aktifkan
                        </div>
                        <div class="col-9">
                            <label class="switch">
                            <input type="checkbox">
                            <span class="slider-switch round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import store from "../../store";

export default {
    computed: {
        getProfile() {
            const data = store.getters.addressList;
            // console.log(JSON.stringify(data));
            return data;
        }
    },
}
</script>

<style>

</style>