<template>
  <div>
    <div class="card-body">
        <div class="text-center text-dark w-75 m-auto">
            <b>Perkuat keamanan akun dengan aplikasi Google Authenticator</b>
            <br><br>
            <p class="f-10">Google Authenticator adalah fitur keamanan yang mempermudah Anda menjaga akun dari risiko pencurian data atau hacking.</p>
            <p class="f-10">Setiap terjadi penarikan dana dan perubahan data pribadi seperti akun bank dan email, maka Anda dapat memasukkan kode keamanan dari aplikasi Google Authenticator sebagai tahap verifikasi.</p>
            <button class="btn btn-success btn-block mt-4 p-3">Aktifkan Google Authenticator</button>
        </div>
    </div>   
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>