<template>
  <div>
       <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <form action="">
                    <div class="input-group border rounded">
                        <input type="text" class="form-control rounded border-0 f-10" placeholder="Cari alamat atau nama penerima" />
                        <span class="input-group-text category-search-icon border-0">
                            <img src="assets/WEB/ICON/ICON WEB03.svg" class="w-20"
                                alt="">
                        </span>
                    </div>
                </form>
            </div>
            <button class="btn btn-success" onclick="tambahAlamat()">
                Tambah Alamat Baru
            </button>
        </div>
        <div  v-for="(item, index) in getAddress.data.location_address" :key="index" :class="(item.default_location) ? active : inActive"> 
            <div class="shadows">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="d-flex">
                                <b class="text-dark">{{ item.location_name }}</b>
                                <div class="item-badge ml-2">
                                    <span class="grey f-8" >
                                        {{ (item.default_location) ? 'Utama' : '' }}
                                    </span>
                                </div>
                            </div>
                            <div class="text-dark mt-1">
                                <h6 class="font-weight-bold m-0">{{ item.receiver_name }} </h6>
                                <p class="m-0 mt-1 f-10">{{ item.msisdn }}</p>
                                <p class="ellipsis-350 f-10 mt-1">{{ item.address }} {{ item.district_name }} {{ item.city_name }} {{ item.province_name }}</p>
                            </div>
                            <div class="d-flex"  v-if="item.default_location==false">
                                <a href="#" class="text-link f-10" onclick="ubahAlamat()">Ubah Alamat</a>
                                <div class="bh-16 ml-2 mt-1"></div>
                                <a href="javascript:;" class="text-link f-10" onclick="pilihAlamat()">Jadikan Alamat & Pilih</a>
                                <div class="bh-16 ml-2 mt-1"></div>
                                <a href="javascript:;" class="text-link f-10" onclick="hapusAlamat()">Hapus</a>
                            </div>
                            <div class="d-flex" v-else>
                                <a href="#" class="text-link f-10" onclick="ubahAlamat()">Ubah Alamat</a>
                            </div>
                        </div>
                        <div class="col-md-4" v-if="item.default_location==true">
                            <span class="fa fa-check f-18 text-success check-alamat"></span>
                        </div>
                        <div class="col-md-4" v-else>
                            <button class="btn btn-success check-alamat">
                                Pilih
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade bd-example-modal-md" id="modal_tambah_alamat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content rounded-10">
            <div class="modal-header border-0">
                <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <h5 class="font-weight-bold text-center m-0">Tambah Alamat Baru</h5>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Label Alamat</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis label alamat" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Nama Penerima</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis nama penerima" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">No. Ponsel</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis Nomor Ponsel" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Kota atau Kecamatan</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis kota/kecamatan" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Kode Pos</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="5 digit kode pos" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Alamat</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis alamat" id="" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">5 karakter lagi diperlukan</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn shadow-0 btn-border" data-mdb-dismiss="modal">Batal</button>
                        <button class="btn btn-success">Tambah</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import store from "../../store";

 function ubahAlamat(){
    $('#modal_ubah_alamat').modal('show');
}
 function tambahAlamat(){
    $('#modal_tambah_alamat').modal('show');
}
export default {
    data(){
        return{
            inActive: 'card mt-3 card-alamat',
            active: 'card mt-3 card-alamat active'
        }
    },
        computed: {
            getAddress() {
                const data = store.getters.addressList;
                // console.log(JSON.stringify(data));
                return data;
            }
        },
}
</script>

<style>

</style>