<template>
  <div>
        <div class="modal fade bd-example-modal-md" id="modal_tambah_alamat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content rounded-10">
            <div class="modal-header border-0">
                <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <h5 class="font-weight-bold text-center m-0">Tambah Alamat Baru</h5>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Label Alamat</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis label alamat" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Nama Penerima</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis nama penerima" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">No. Ponsel</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis Nomor Ponsel" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Kota atau Kecamatan</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis kota/kecamatan" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Kode Pos</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="5 digit kode pos" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Alamat</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis alamat" id="" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">5 karakter lagi diperlukan</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn shadow-0 btn-border" data-mdb-dismiss="modal">Batal</button>
                        <button class="btn btn-success">Tambah</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-md" id="modal_ubah_alamat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content rounded-10">
            <div class="modal-header border-0">
                <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <h5 class="font-weight-bold text-center m-0">Ubah Alamat</h5>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Label Alamat</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis label alamat" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Nama Penerima</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis nama penerima" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">No. Ponsel</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis Nomor Ponsel" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Kota atau Kecamatan</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis kota/kecamatan" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Kode Pos</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="5 digit kode pos" id="" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="m-0 f-10 fw-bold" for="">Alamat</label>
                                <input type="text" class="form-control f-10 lh-2" placeholder="Tulis alamat" id="" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">5 karakter lagi diperlukan</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn shadow-0 btn-border" data-mdb-dismiss="modal">Batal</button>
                        <button class="btn btn-success">Ubah</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>