<template>
  <div>
   <div class="card-body">
        <div class="alert alert-light f-10" style="background-color: #f1f1f1;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Notifikasi SMS sifatnya penting karena memberimu kabar soal keamanan akun dan status transaksi. Hati-hati saat terima SMS spam yang mengatasnamakan Tokopedia, ya. Jika kamu menerima SMS tersebut, pelajari selengkapnya disini.
        </div>
        <h3 class="text-dark m-0"><strong>Notifikasi</strong></h3>
        <p class="f-9 m-0">Atur notifikasi yang ingin kamu terima disini</p>

        <div class="p-2 d-flex justify-content-between mt-3 bg-light rounded">
            <b class="text-dark pl-2">Transaksi</b>
            <b class="pr-2">Email</b>
        </div>

        <div class="mt-4 text-dark">
            <div class="pt-3 pb-3">
                <img src="assets/WEB/ICON/ICON WEB39.svg" class="w-35" alt="">
                <b class="ml-2">Transaksi Pembelian</b>
            </div>
            <div class="profile-card-seperator"></div>
            <div class="pt-3 pb-3 d-flex justify-content-between">
                <span>Menunggu Pembayaran</span>
                <input
                    class="form-check-input mr-4"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    
                />
            </div>
            <div class="profile-card-seperator"></div>
            <div class="pt-3 pb-3 d-flex justify-content-between">
                <span>Menunggu Konfirmasi</span>
                <input
                    class="form-check-input mr-4"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    
                />
            </div>
            <div class="profile-card-seperator"></div>
            <div class="pt-3 pb-3 d-flex justify-content-between">
                <span>Pesanan Diproses</span>
                <input
                    class="form-check-input mr-4"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    
                />
            </div>
            <div class="profile-card-seperator"></div>
            <div class="pt-3 pb-3 d-flex justify-content-between">
                <span>Pesanan Dikirim</span>
                <input
                    class="form-check-input mr-4"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    
                />
            </div>
            <div class="profile-card-seperator"></div>
            <div class="pt-3 pb-3 d-flex justify-content-between">
                <span>Pesanan Tiba</span>
                <input
                    class="form-check-input mr-4"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    
                />
            </div>
            <div class="profile-card-seperator"></div>
            <div class="pt-3 pb-3 d-flex justify-content-between">
                <span>Pengingat</span>
                <input
                    class="form-check-input mr-4"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    
                />
            </div>

            <div class="mt-4 pt-3 pb-3">
                <img src="assets/WEB/ICON/ICON WEB44.svg" class="w-30" alt="">
                <b class="ml-2">Promo</b>
            </div>
            <div class="profile-card-seperator"></div>
            <div class="pt-3 pb-3 d-flex justify-content-between">
                <span>Newsletter Online Mol</span>
                <input
                    class="form-check-input mr-4"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    
                />
            </div>
        </div>
    </div>   
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>