<template>
  <div>
     <div class="">
            <div class="row m-0 no-gutters">
                <div class="col-md-5 border-right">
                    <div class="p-4">
                        <h5>Hai Aditya, <br>
                        Atur <strong>Keamanan Akun</strong> Anda disini
                        </h5>
                    </div>
                    <div class="nav flex-column list-menu" role="tablist" aria-orientation="vertical">
                        <a class="nav-link border-bottom active" data-toggle="pill" href="#aktifitas_login" role="tab" aria-controls="aktifitas_login" aria-selected="true">
                            <div class="d-flex justify-content-between pl-4 pr-4">
                                <span>Akrivitas Login</span> <img src="assets/WEB/ICON/arrow-right.svg" class="w-30" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="aktifitas_login" role="tabpanel" aria-labelledby="aktifitas_login-tab">
                            <div class="p-4">
                                <h5 class="text-center text-dark"><b>Aktifitas Login</b></h5>
                                <div class="alert alert-light f-10 d-flex mt-3 rounded-0" style="background-color: #f2f2f2;" role="alert">
                                    <img src="assets/WEB/ICON/ICON WEB82.svg" class="w-30 mr-2" alt=""> <span class="f-9">Bila terdapat aktivitas tidak dikenal, segera klik "Keluar" dan ubah kata sandi.</span>
                                </div>
                                <p>Aktivitas login saat ini</p>
                                <div>
                                    <div class="d-flex pt-3 pb-3">
                                        <img src="assets/WEB/ICON/ICON WEB83.svg" class="w-60" alt="">
                                        <div class="w-100 ml-2">
                                            <b class="text-dark">Chrome di Windows 10</b> <br>
                                            <small>139.228.40.167</small>
                                            <div class="item-badge">
                                                <span class="success">Sedang Aktif</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-card-seperator"></div>
                                </div>
                                <div>
                                    <div class="d-flex pt-3 pb-3">
                                        <img src="assets/WEB/ICON/ICON WEB60.svg" class="w-60" alt="">
                                        <div class="w-100 ml-2">
                                            <b class="text-dark">Realme X</b> <br>
                                            <div class="d-flex justify-content-between">
                                                <small>139.228.40.167</small>
                                                <small><a href="">Keluar</a></small>
                                            </div>
                                            <div class="item-badge">
                                                <span class="success">Sedang Aktif</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="profile-card-seperator"></div>
                                </div>
                                <div class="text-right mt-2">
                                    <a href="" >Keluar dari semua perangkat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>